@import '../../../styles-variables';

.aside-menu-right {
  width: 200px;
  height: 100%;
  border-left: 1px solid #ddd;
  padding: 15px;
  ul {
    position: sticky;
    top: 80px;
    li {
      cursor: pointer;
      font-size: $default-font-size;
      margin-bottom: 8px;
      &.active{
        position: relative;
        color: $primary;
        &:before{
          content: '';
          display: block;
          border-left: 3px solid $primary;
          position: absolute;
          left: -16px;
          top: 0;
          //width: 5px;
          height: 100%;
        }
      }
    }
  }
}
