<div class="d-flex">
  <div class="component-wrap">
    <ng-container *ngFor="let menu of menus; let i=index">
      <h3 #anchors>{{ menu.title }}</h3>
      <p [innerHTML]="menu.desc | safeHtml"></p>
      <div class="base-guide info" style="height: 424px; overflow-y: auto;">
        <h5>Gridster 기본 옵션</h5>
        <dl class="d-flex" style="flex-wrap: wrap;">
          <div class="me-5 mb-4" style="width: 20%" *ngFor="let op of op_desc">
            <dt>
              <b class="wd-200">{{op.name}}
                <a matTooltip="링크로 이동" [href]="op.link" target="_blank"><i class="fa fa-external-link"></i></a>
              </b>
            </dt>
            <dd>
              <p class="mb-0"><b>설명 : </b>{{op.desc}}</p>
              <!--ST: Compact Type-->
              <ng-container *ngIf="op.key === 'compactType'">
                <ng-select [placeholder]="'compactType 설정'"
                           [items]="op.options"
                           (change)="changedOptions()"
                           [(ngModel)]="options.compactType"></ng-select>
              </ng-container>
              <!--EN: Compact Type-->

              <!--ST: Display Grid-->
              <ng-container *ngIf="op.key === 'displayGrid'">
                <ng-select [placeholder]="'display Grid 설정'"
                           [items]="op.options"
                           (change)="changedOptions()"
                           [(ngModel)]="options.displayGrid"></ng-select>
              </ng-container>
              <!--EN: Display Grid-->
              <!--ST: draggable-->
              <ng-container *ngIf="op.key === 'draggable'">
                <div class="form-group">
                  <mat-checkbox class="matcheckbox" color="primary"
                                (ngModelChange)="changedOptions()"
                                [(ngModel)]="options.draggable.enabled">Drag Enabled
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <mat-checkbox class="matcheckbox"
                                color="primary"
                                (ngModelChange)="changedOptions()"
                                [(ngModel)]="options.draggable.ignoreContent">Drag ignoreContent
                  </mat-checkbox>
                </div>
                <div class="form-group flex mb-1">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs dtk-slider-flex"
                              [label]="'Delay Start'"
                              [labelClass]="'wd-100'"
                              [unit]="'ms'"
                              [min]="1"
                              [max]="1000"
                              [mode]="'less'"
                              [(value)]="options.draggable.delayStart"></dtk-slider>
                </div>
                <div class="form-group flex mb-1">
                  <label class="wd-100">dragHandleClass</label>
                  <input class="form-control form-control-xs"
                         [(ngModel)]="options.draggable.dragHandleClass"
                         type="text"
                         placeholder="Insert drag hanlder class..."
                         (ngModelChange)="changedOptions()"/>
                </div>
                <div class="form-group flex">
                  <label class="wd-100">ignoreContentClass</label>
                  <input class="form-control form-control-xs"
                         [(ngModel)]="options.draggable.ignoreContentClass"
                         type="text"
                         placeholder="Insert ignoreContent class..."
                         (ngModelChange)="changedOptions()"/>
                </div>
              </ng-container>
              <!--ST: draggable-->

              <!--ST: empty-->
              <ng-container *ngIf="op.key === 'empty'">
                <div class="form-group">
                  <mat-checkbox
                    class="matcheckbox" color="primary"
                    [(ngModel)]="options.enableEmptyCellClick"
                    (ngModelChange)="changedOptions()">
                    Enable Empty Cell click
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <mat-checkbox class="matcheckbox" color="primary"
                                [(ngModel)]="options.enableEmptyCellContextMenu"
                                (ngModelChange)="changedOptions()">
                    Enable Empty Cell ContextMenu
                  </mat-checkbox>
                </div>
                <div class="form-group mb-1">
                  <mat-checkbox
                    class="matcheckbox" color="primary"
                    [(ngModel)]="options.enableEmptyCellDrop"
                    (ngModelChange)="changedOptions()">
                   아래 아이콘을 드래그하세요.
                  </mat-checkbox>
                  <div *ngIf="options.enableEmptyCellDrop" style="background: #FFF; border: 1px solid #EEE; border-radius: 5px;">
                    <button mat-icon-button
                            class="btn-icon btn-xs" *ngFor="let icon of _originDashboard"
                            [matTooltip]="icon['config'].chart"
                            draggable=true
                            (dragstart)="dragStartHandler($event, icon)">
                      <mat-icon>{{dashboardIcon[icon['config'].chart]}}</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="form-group mb-1">
                  <mat-checkbox
                    class="matcheckbox" color="primary"
                    (ngModelChange)="changedOptions()"
                    [(ngModel)]="options.enableOccupiedCellDrop"
                    [disabled]="!options.enableEmptyCellDrop">
                    Enable drop on occupied cell
                  </mat-checkbox>
                </div>
                <div class="form-group mb-1">
                  <mat-checkbox class="matcheckbox" color="primary"
                                [(ngModel)]="options.enableEmptyCellDrag"
                                (ngModelChange)="changedOptions()">
                    Enable drag to add
                  </mat-checkbox>
                </div>

                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Drag 최대 Col 영역 설정'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="500"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.emptyCellDragMaxCols"></dtk-slider>
                </div>
                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Drag 최대 Row 영역 설정'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="500"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.emptyCellDragMaxRows"></dtk-slider>
                </div>
              </ng-container>
              <!--EN: empty-->
              <!-- ST: Margin-->
              <ng-container *ngIf="op.key === 'margin'">
                <div class="form-group">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'margin'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.margin"></dtk-slider>
                </div>
                <div class="form-group">
                  <mat-checkbox class="matcheckbox"
                                color="primary"
                                [(ngModel)]="options.outerMargin"
                                (ngModelChange)="changedOptions()">Outer Margin
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Outer Margin Top'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.outerMarginTop"></dtk-slider>
                </div>
                <div class="form-group">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Outer Margin Bottom'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.outerMarginBottom"></dtk-slider>
                </div>
                <div class="form-group">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Outer Margin Right'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.outerMarginRight"></dtk-slider>
                </div>
                <div class="form-group">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Outer Margin Left'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.outerMarginLeft"></dtk-slider>
                </div>
              </ng-container>
              <!-- EN: Margin-->
              <!--ST: Grid Size-->
              <ng-container *ngIf="op.key === 'gridSize'">
                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Minimum column size'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.minCols"></dtk-slider>
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Maximum Col size'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.maxCols"></dtk-slider>
                </div>
                <div class="form-group flex me-1">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Minimum Row size'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.minRows"></dtk-slider>
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Maximum Rows size'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.maxRows"></dtk-slider>
                </div>
                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Default Item Cols'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.defaultItemCols"></dtk-slider>

                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Default Item Rows'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.defaultItemRows"></dtk-slider>
                </div>
                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Min Item Cols'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.minItemCols"></dtk-slider>
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Max Item Cols'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.maxItemCols"></dtk-slider>
                </div>
                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Min Item Rows'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.minItemRows"></dtk-slider>
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Max Item Rows'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.maxItemRows"></dtk-slider>
                </div>

                <div class="form-group flex">
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs me-1"
                              [label]="'Min Item Area'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.minItemArea"></dtk-slider>
                  <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                              [label]="'Max Item Area'"
                              [unit]="'px'"
                              [min]="1"
                              [max]="100"
                              [mode]="'less'"
                              (valueChange)="changedOptions()"
                              [(value)]="options.maxItemArea"></dtk-slider>
                </div>
              </ng-container>
              <!--EN: Grid Size-->
              <!-- ST: GridType-->
              <ng-container *ngIf="op.key === 'gridType'">
                <div class="form-group">
                  <ng-select placeholder="'Grid Type 설정'"
                             [items]="op.options"
                             appendTo="body"
                             (change)="changedOptions()"
                             [(ngModel)]="options.gridType"></ng-select>
                </div>

                <div *ngIf="options.gridType === 'fixed'">
                  <div class="form-group flex">
                    <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                                [label]="'Fixed Col width'"
                                [unit]="'px'"
                                [min]="1"
                                [max]="500"
                                [mode]="'less'"
                                (valueChange)="changedOptions()"
                                [(value)]="options.fixedColWidth"></dtk-slider>
                  </div>
                  <div class="form-group flex">
                    <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                                [label]="'Fixed Row width'"
                                [unit]="'px'"
                                [min]="1"
                                [max]="500"
                                [mode]="'less'"
                                (valueChange)="changedOptions()"
                                [(value)]="options.fixedRowWidth"></dtk-slider>
                  </div>
                </div>

                <div *ngIf="['scrollVertical', 'scrollHorizontal'].includes(options.gridType)">
                  <div class="form-group flex">
                    <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                                [label]="'Row Height Ratio'"
                                [unit]="'px'"
                                [min]="1"
                                [max]="100"
                                [mode]="'less'"
                                (valueChange)="changedOptions()"
                                [(value)]="options.rowHeightRatio"></dtk-slider>
                  </div>
                </div>
              </ng-container>
              <!-- EN: GridType-->
            </dd>
          </div>
        </dl>
      </div>

      <div style="display: flex; justify-content: flex-end;">
        <button mat-mini-fab (click)="addItem()" class="btn-icon btn-sm">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-mini-fab (click)="modified = !modified" class="btn-icon btn-sm">
          <mat-icon>edit</mat-icon>
        </button>

      </div>
      <div class="style-guide-example d-flex col gridster-wrap">

        <gridster [options]="options" (drag)="onDrag($event)">
          <gridster-item *ngFor="let item of dashboard" [item]="item">
            <div class="gridster-item-wrap">
              <div class="gridster-item-header">
                <button [ngClass]="options.draggable.dragHandleClass">
                  <mat-icon class="md-18">drag_indicator</mat-icon>
                </button>
                <label>{{ item['config']?.title ? (item['config'].title | translate) : 'Gridster Item'}}</label>

                <div class="gridster-item-header-btns">
                  <button mat-button [matTooltip]="'새로고침'" class="btn-icon">
                    <mat-icon class="md-18">refresh</mat-icon>
                  </button>
                  <button class="btn-icon"
                          mat-button matTooltip="삭제"
                          (click)="removeItem($event, item)">
                    <mat-icon class="md-18">close</mat-icon>
                  </button>
                  <ng-container *ngIf="modified">
                    <button class="btn-icon"
                            mat-button [matTooltip]="'더보기'"
                            [matMenuTriggerFor]="gridMenu">
                      <mat-icon class="md-18">more_vert</mat-icon>
                    </button>
                    <mat-menu #gridMenu="matMenu">
                      <button mat-menu-item (mousedown)="removeItem($event, item)"
                              (touchstart)="removeItem($event, item)">
                        <mat-icon class="md-16">delete</mat-icon>
                        제거
                      </button>
                      <button mat-menu-item>
                        <mat-icon class="md-16">change_circle</mat-icon>
                        변경
                      </button>
                    </mat-menu>
                  </ng-container>
                </div>
              </div>

              <div [ngClass]="options.draggable.ignoreContentClass">
                내용
              </div>
            </div>
          </gridster-item>
        </gridster>
      </div>

    </ng-container>
  </div>

  <aside-menu-right [menu]="menus"
                    [anchor]="anchors"></aside-menu-right>
</div>
