@import '../../../styles-variables';

.dtk-color-input {
  width: auto;
  position: relative;
  .form-control {
    padding-left: 32px;
    padding-right: 20px;
    color: #999;
    user-select: none;
    &.active {
      border-color: $input-focus-border-color;
      box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
      //box-shadow: $input-btn-focus-box-shadow;
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &:after {
      content: '\f107';
      display: inline-block;
      position: absolute;
      top:50%;
      right: 5px;
      color: #333;
      font-family: FontAwesome;
      transform: translateY(-50%);
    }
  }
  .dtk-preview-color {
    display: inline-block;
    width: 22px;
    border: 1px solid #ced4da;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: $border-radius;
    &:active {
      border-color: #89a8e8;
      box-shadow: 0 0 0 0.2rem rgb(39 93 203 / 25%);
    }
  }

  &-xl {
    .dtk-preview-color {
      width: 34px;
      height: 34px;
    }
    .form-control {
      padding-right: 20px;
      font-size: $font-size-xl;
    }
  }

  &-lg {
    .dtk-preview-color {
      width: 32px;
      height: 32px;
    }
    .form-control {
      padding-right: 25px;
      font-size: $font-size-lg;
    }
  }

  &-sm {
    .dtk-preview-color {
      height: 20px;
      width: 20px;
      left: 4px;
    }
    .form-control {
      padding-right: 15px;
      font-size: $font-size-sm;
    }
  }

  &-xs {
    .dtk-preview-color {
      height: 15px;
      width: 15px;
      left: 3px;
    }
    .form-control {
      //font-size: 10px !important;
      padding-right: 15px !important;
      font-size: $font-size-xs;
    }
  }
}


.other-color-btn {
  display: block;
  width: 100%;
  position: relative;
  line-height: 25px;
  text-align: left;
  .mat-icon {
    margin-right: 5px;
  }
}
