.category-color {
  font-size: 12px;
  &-list {
    padding: 10px 0 0 0;
    &-item {
      position: relative;
      display: inline-block;
      padding: 3px;
      margin-right: 2px;
      margin-bottom: 2px;
      background-color: #FFF6;
      border: 1px solid #CCC;
      border-radius: 3px;
      height: 28px;
      width: 28px;
      vertical-align: middle;
      transition: box-shadow .5s ease;

      &.active {
        background-color: #FFF;
        border-color: #EEE;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
      }
      /*position: relative;*/
      /*z-index: 0;*/

      .category-color-sample {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        position: relative;
        background-color: #DDDDDD;
        color:#999;
      }

      button.category-color-remove-btn {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 10px;
        width: 16px;
        height: 16px;
        background-color: #FFF;
        border-radius: 50%;
        display: none;
        z-index: 10;
        &:before,
        &:after {
          content: '';
          display: block;
          width: 9px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 4px;
          background-color: #999;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }

        &:hover {
          &:before,
          &:after {
            background-color:#333;
          }
        }
      }
      &:hover {
        // transform: scale(1.2);
        border-color: #666;
        z-index:1;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, .3);
        button.category-color-remove-btn {
          display: block;
        }
        .category-color-sample {
          color:#333;
        }
      }
    }
  }
}

.sketch-picker {
  width: 250px;
  background: transparent !important;
  box-shadow: none !important;
}

.dashboard-area{
  .sketch-picker {
    width: 200px;
    background: transparent !important;
    box-shadow: none !important;
  }
}

