
<ng-template #labelColor>
  <div style="width: 200px;">
    <color-swatches [width]="200"
                    class="dtk-color-swatches"
                    [color]="active === -1 ? '#FFFFFF' : _colors[active]"
                    (onChange)="changeColor($event); lobelPopover.hide()"></color-swatches>
    <button matRipple class="other-color-btn"
            (click)="setColorDialog(); lobelPopover.hide()">
      <mat-icon class="md-14" [style.color]="active === -1 ? '#FF0000' : _colors[active]">palette</mat-icon>
      다른 색
    </button>
  </div>
</ng-template>

<div class="category-color">
  <div class="category-color-list" [style.white-space]="type && 'break-spaces'">
    <!--[autoClose]="'outside'"-->
    <div class="category-color-list-item"
         *ngFor="let color of _colors; let i = index;"
         [class.active]='active === i'>
      <span class="category-color-sample"
            (click)="active = i;"
            [popover]="labelColor"
            (onShown)="popoverShow = true;"
            (onHidden)="popoverShow = false;"
            #lobelPopover="bs-popover"
            [container]="'body'"
            [style.background-color]="color"></span>
      <button class="category-color-remove-btn" (click)="removeColor(i)"></button>
    </div>
    <div class="category-color-list-item"
         [matTooltip]="'색상추가'">
      <span class="category-color-sample"
            (click)="active = -1"
            [popover]="labelColor"
            (onShown)="popoverShow = true;"
            (onHidden)="popoverShow = false;"
            #lobelPopover="bs-popover"
            [container]="'body'">
        <mat-icon class="md-14">add</mat-icon>
      </span>
    </div>
  </div>
</div>
<div *ngIf="popoverShow"
     (click)="lobelPopover.hide();"
     style="position: fixed; top:0; left:0; right:0; bottom:0; z-index:100;"></div>
