<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <ng-container *ngFor="let menu of menus;">
      <h3 #anchors>{{menu.title}}</h3>
      <p [innerHTML]="menu.desc">
        {{menu.desc}}
      </p>
      <ng-container [ngSwitch]="menu.anchor">
        <!--ST: 베이직 Table -->
        <div class="style-guide-example" *ngSwitchCase="'basic'">
          <table class="table table-striped table-bordered">
            <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Country</th>
              <th scope="col">Area</th>
              <th scope="col">Population</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries| slice: 0: 10; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <img
                  [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
                  class="me-2"
                  style="width: 20px"
                />
                {{ country.name }}
              </td>
              <td>{{ country.area | number }}</td>
              <td>{{ country.population | number }}</td>
            </tr>
            </tbody>
          </table>

        </div>
        <!--EN: 베이직 Table -->

        <!--ST: Ranking Table -->
        <div class="style-guide-example" *ngSwitchCase="'rank'">
          <table class="rank-table">
            <colgroup>
              <col width="50"/>
              <col/>
            </colgroup>
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">검색어</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries | slice: 0: 5; index as i">
              <td class="text-center" [style.color]="colors[i]"><b>{{ i + 1 }}</b></td>
              <td>{{ country.name }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--EN: Ranking Table -->

        <!--ST: Notice Table -->
        <div class="style-guide-example" *ngSwitchCase="'notice'">
          <table class="board-table">
            <colgroup>
              <col width="50"/>
              <col width="150"/>
              <col/>
              <col width="100"/>
              <col width="100"/>
              <col width="150"/>
            </colgroup>
            <thead>
            <tr>
              <th *ngFor="let header of thLabel; let i=index;"
                  [class.text-center]="header.indexOf('file')>-1 || header.indexOf('creator')>-1 || i===0">
                <ng-container *ngIf="i === 0 else th">
                  <input type="checkbox" class="mgc mgc-primary mgc-sm mg0"
                         [checked]="allChecked"
                         (click)="onClickCheckBoxAll($event)"/>
                </ng-container>
                <ng-template #th>
                  {{ header | translate }} <!--생성일 | 제목 | 작성자 | 첨부파일 | 최종수정일-->
                </ng-template>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries | slice: 0: 5; let i=index;">
                <td class="text-center">
                  <input type="checkbox" class="mgc mgc-primary mgc-sm mg0"
                                          [checked]="checkMap[country.id]"
                                          (click)="checkMap[country.id] = !checkMap[country.id]"/>
                </td>
                <td>YYYY-MM-dd HH:mm</td> <!--생성일-->
                <td class="board-table-title">
                  <img
                    [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
                    class="me-2"
                    style="width: 20px"/>
                  이미지 : {{ country.flag }}</td> <!-- 제목--->
                <td class="text-center">{{ country.name }}</td> <!-- 작성자--->
                <td class="text-center"><i class="fa fa-floppy-o"
                       matBadge="1"
                       matBadgeSize="small"
                       matBadgePosition="above after"></i></td> <!-- 첨부 파일 -->
                <td>YYYY-MM-dd HH:mm</td> <!--수정일 -->
              </tr>
            </tbody>
          </table>
        </div>
        <!--EN: Notice Table -->

        <!-- ST: ag-grid-border-->
        <div class="style-guide-example" *ngSwitchCase="'analysis'">
          <div style="max-width: 1000px; height: 600px; overflow: auto;">
            <cdk-virtual-scroll-viewport  tvsItemSize="100" headerHeight="56" style="height: 100%;">
              <table mat-table [dataSource]="dataSource"  class="analysis-table">
                <ng-container matColumnDef="position" [sticky]="isSticky( 'position')">
                  <th mat-header-cell *matHeaderCellDef> Position</th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  <!--<td mat-footer-cell *matFooterCellDef> Name Footer </td>-->
                </ng-container>

                <ng-container matColumnDef="name" [sticky]="isSticky( 'name')">
                  <th mat-header-cell *matHeaderCellDef> Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  <!--<td mat-footer-cell *matFooterCellDef> Name Footer </td>-->
                </ng-container>

                <ng-container matColumnDef="weight" [stickyEnd]="isSticky( 'weight')">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                  <!--<td mat-footer-cell *matFooterCellDef> Weight Footer </td>-->
                </ng-container>

                <ng-container matColumnDef="symbol" [stickyEnd]="isSticky( 'symbol')">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  <!--<td mat-footer-cell *matFooterCellDef> Symbol Footer </td>-->
                </ng-container>

                <ng-container matColumnDef="filler">
                  <th mat-header-cell *matHeaderCellDef> Filler header cell </th>
                  <td mat-cell *matCellDef="let element"> Filler data cell </td>
                  <!--<td mat-footer-cell *matFooterCellDef> Filler footer cell </td>-->
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky('header-1')"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky('header-2')"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!--<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky( 'footer-1')"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky( 'footer-2')"></tr>-->
              </table>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
        <!-- EN: ag-grid-border-->

        <!-- ST: ag-grid-border-->
        <div class="style-guide-example" *ngSwitchCase="'resize'">
          <div style="height: 600px; overflow: auto;">
            <cdk-virtual-scroll-viewport  tvsItemSize="50" headerHeight="56" style="height: 100%;">
              <table mat-table [dataSource]="dataSource2"  class="analysis-table">
                <ng-container *ngFor="let col of columns; let i=index;"
                              [matColumnDef]="col.field"
                              [sticky]="isSticky(col.field)">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ col.field}}
                    <span class="resize-handle" (mousedown)="onResizeColumn($event, i)"></span>
                  </th>


                  <td mat-cell *matCellDef="let element" > {{element[ col.field ]}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky('header-1')"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky('header-2')"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!--<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky( 'footer-1')"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky( 'footer-2')"></tr>-->
              </table>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
        <!-- EN: ag-grid-border-->

      </ng-container>
    </ng-container>
  </div>
  <aside-menu-right [menu]="menus" [anchor]="anchors"></aside-menu-right>
</div>
