<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <ng-container *ngFor="let menu of menus;">
      <h3 #anchors>{{ menu.title }}</h3>
      <p [innerHTML]="menu.desc | safeHtml"></p>
      <ng-container [ngSwitch]="menu.anchor">
        <!--ST: 베이직 페이지 네이션 -->
        <div class="style-guide-example d-flex" *ngSwitchCase="'basic'">
          <div class="d-flex-1">
            <h5>기본 접기</h5>
            <tree-root class="dp-directory"
                       [nodes]="nodes"></tree-root>
          </div>
          <div class="d-flex-1">
            <h5>기본 펼치기</h5>
            <tree-root class="dp-directory" #trees
                       [nodes]="nodes"></tree-root>
          </div>
        </div>
        <!--EN: 베이직 페이지 네이션 -->
        <!--ST: Checkbox -->
        <div class="style-guide-example" *ngSwitchCase="'checkbox'">
          <tree-root class="dp-directory" #trees
                     [nodes]="nodes"
                     (initialized)="onUpdate($event)"
                     (select)="onSelect($event)"
                     (deselect)="onDeselect($event)"
                     [options]="options"></tree-root>

        </div>
        <!--EN: Checkbox -->

        <!--ST: Icon -->
        <div class="style-guide-example" *ngSwitchCase="'icon'">
          <h5 *ngIf="selectedNode.icon">Id: {{ selectedNode.icon.id  }} / Name: {{ selectedNode.icon.name }}</h5>
          <tree-dir-component-app [nodes]="nodes"
                                  [mode]="'select'"
                                  [viewType]="'styleGuide'"
                                  (nodeActiveChanged)="nodeActiveChanged($event, 'icon')"></tree-dir-component-app>
        </div>
        <!--EN: Icon -->

        <!--ST: loading -->
        <div class="style-guide-example d-flex" *ngSwitchCase="'loading'">
          <div class="d-flex-1">
            <h5>기본 skeleton loading</h5>
            <div *ngFor="let node of loadingContent let i=index">
              <div class="tree-renderer">
                <span class="material-icons" style="font-size: 10px; color: #eee">arrow_forward_ios</span>
                <ngx-skeleton borderRadius="3px" margin="5px" width="20px" height="20px"></ngx-skeleton>
                <ngx-skeleton class="tree-renderer-item" borderRadius="10px" margin="5px 0"
                              [width]=" i=== 0 ? '20%' : (i==3|| i==5) ? '50%' : '80%'" height="15px"></ngx-skeleton>
              </div>
            </div>
          </div>

          <div class="d-flex-1">
            <h5>circle skeleton loading</h5>
            <div *ngFor="let node of loadingContent let i=index;">
              <div class="tree-renderer">
                <span class="material-icons" style="font-size: 10px; color: #eee">arrow_forward_ios</span>
                <ngx-skeleton variant="circle" margin="5px" width="20px" height="20px"></ngx-skeleton>
                <ngx-skeleton class="tree-renderer-item" borderRadius="10px" margin="5px 0"
                              [width]=" i=== 0 ? '20%' : (i==3|| i==5) ? '50%' : '80%'" height="15px"></ngx-skeleton>
              </div>
            </div>
          </div>

          <div class="d-flex-1">
            <button type="button" class="btn btn-primary"
                    [ngClass]="loading ? 'btn-primary' : 'btn-secondary'"
                    (click)="loading=!loading">Toggle Loading
            </button>
            <ng-container *ngIf="loading else content">
              <div *ngFor="let node of loadingContent; let i=index;">
                <div class="tree-renderer">
                  <span class="material-icons" style="font-size: 10px; color: #eee">arrow_forward_ios</span>
                  <ngx-skeleton borderRadius="3px" margin="5px" width="20px" height="20px"></ngx-skeleton>
                  <ngx-skeleton class="tree-renderer-item" borderRadius="10px" margin="5px 0"
                                [width]=" i=== 0 ? '20%' : (i==3|| i==5) ? '50%' : '80%'" height="15px"></ngx-skeleton>
                </div>
              </div>
            </ng-container>
            <ng-template #content>
              <tree-dir-component-app [nodes]="nodes"
                                      [mode]="'select'"
                                      [viewType]="'styleGuide'"></tree-dir-component-app>
            </ng-template>
          </div>
        </div>
        <!--EN: loading -->

        <!--ST: Event -->
        <div class="style-guide-example" *ngSwitchCase="'event'">
          <div style="width: 250px;">
            <ng-container *ngIf="loading2 else content">
              <div *ngFor="let node of loadingContent; let i=index;">
                <div class="tree-renderer">
                  <span class="material-icons" style="font-size: 10px; color: #eee">arrow_forward_ios</span>
                  <ngx-skeleton borderRadius="3px" margin="5px" width="20px" height="20px"></ngx-skeleton>
                  <ngx-skeleton class="tree-renderer-item" borderRadius="10px" margin="5px 0"
                                [width]=" i=== 0 ? '20%' : (i==3|| i==5) ? '50%' : '80%'" height="15px"></ngx-skeleton>
                </div>
              </div>
            </ng-container>
            <ng-template #content>
              <tree-dir-component-app [nodes]="nodes2"
                                      [viewType]="'styleGuide'"
                                      (nodeActiveChanged)="nodeActiveChanged($event, 'event')"
                                      (outputNode)="outputNode($event)"></tree-dir-component-app>
            </ng-template>
          </div>
        </div>
        <!--EN: Event -->


        <!--ST: fiter -->
        <div class="style-guide-example d-flex" *ngSwitchCase="'filter'">
          <div class="input-tree-wrap wd-200">
            <div class="form-group">
              <label>현업 담당자</label>
              <input cdkOverlayOrigin
                     #t1="cdkOverlayOrigin"
                     class="form-control"
                     placeholder="담당자를 입력하세요."
                     (focus)="openTree('owner')"
                     [(ngModel)]="datasetParams.owner_name"/>

              <span class="expand-icon">
                          <i class="fa"
                             [ngClass]="{'fa-angle-down': !filterTeamView.owner, 'fa-angle-up': filterTeamView.owner}"
                             aria-hidden="true"></i>
                        </span>
            </div>

            <ng-container *ngIf="filterTeamView.owner"></ng-container>
            <ng-template cdkConnectedOverlay
                         [cdkConnectedOverlayOrigin]="t1"
                         [cdkConnectedOverlayOpen]="filterTeamView.owner">
              <tree-select-filter [nodes]="deptList"
                                  [(label)]="datasetParams.owner_name"
                                  [(value)]="datasetParams.owner"
                                  [(openState)]="filterTeamView.owner"></tree-select-filter>
            </ng-template>
          </div>

          <div class="input-tree-wrap wd-200">
            <div class="form-group">
              <label>IT 현업 담당자</label>
              <input cdkOverlayOrigin
                     #t2="cdkOverlayOrigin"
                     class="form-control input-team"
                     placeholder="담당자를 입력하세요."
                     (focus)="openTree('it_owner')"
                     [(ngModel)]="datasetParams.it_owner_name"/>
              <span class="expand-icon">
                <i class="fa"
                   [ngClass]="{'fa-angle-down': !filterTeamView.it_owner, 'fa-angle-up': filterTeamView.it_owner}"
                   aria-hidden="true"></i>
              </span>
            </div>
            <!--<ng-container *ngIf="filterTeamView.it_owner"></ng-container>-->
            <ng-template cdkConnectedOverlay
                         [cdkConnectedOverlayOrigin]="t2"
                         [cdkConnectedOverlayOpen]="filterTeamView.it_owner">
              <tree-select-filter class="tree-filter"
                                  [nodes]="deptList"
                                  [(label)]="datasetParams.it_owner_name"
                                  [(value)]="datasetParams.it_owner"
                                  [(openState)]="filterTeamView.it_owner"></tree-select-filter>
            </ng-template>
          </div>
        </div>
        <div *ngIf="filterTeamView.owner || filterTeamView.it_owner"
             class="tree-filter-bg"
             (click)="filterTeamView.owner = false; filterTeamView.it_owner = false"></div>
        <!--EN: fiter -->

      </ng-container>
    </ng-container>
  </div>
  <aside-menu-right [menu]="menus"
                    [anchor]="anchors"></aside-menu-right>
</div>
