<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <ng-container *ngFor="let menu of splitMenu; let i=index;">
      <h3 #anchors>{{menu.title}}</h3>
      <p [innerHTML]="menu.desc | safeHtml"></p>
      <ng-container [ngSwitch]="menu.anchor">
        <div class="style-guide-example d-flex" *ngSwitchCase="'basic'">
          <div class="d-flex-1 me-1">
            <h5>전체 버튼 클릭</h5>
            <button matRipple type="button" class="btn btn-primary btn-split" [matMenuTriggerFor]="basic">
              Dropdown Menu1
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #basic="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <div class="d-flex-1 me-1">
            <h5>화살표 버튼 클릭</h5>
            <label class="btn btn-primary btn-split" role="button">
              Dropdown Menu2
              <span class="btn-split-menu" [matMenuTriggerFor]="basic2"><i class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #basic2="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <div class="d-flex-1 me-1">
            <h5>라벨/화살표 버튼 클릭</h5>
            <div class="btn-split-group" role="group" aria-label="Button group with nested dropdown"
                 style="margin-left: 7px;">
              <button type="button" class="btn btn-primary btn-split-item " (click)="onClick()">Dropdown Menu3</button>
              <button type="button" class="btn btn-primary btn-split-item" [matMenuTriggerFor]="basic3">
                <span><i class="fa fa-caret-down"></i></span>
              </button>
            </div>
            <mat-menu #basic3="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <div class="d-flex-1 me-1">
            <h5>Nesting group 버튼 클릭</h5>
            <div class="btn-split-group" role="group" aria-label="Button group with nested dropdown"
                 style="margin-left: 7px;">
              <button type="button" class="btn btn-primary btn-split-item" (click)="onClick('First')">First</button>
              <button type="button" class="btn btn-primary btn-split-item" (click)="onClick('Second')">Second</button>
              <button type="button" class="btn btn-primary btn-split-item" [matMenuTriggerFor]="basic3">
                <span><i class="fa fa-caret-down"></i></span>
              </button>
            </div>
            <mat-menu #basic3="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
        </div>

        <div class="style-guide-example" *ngSwitchCase="'position'">
          <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="above">
            Above
            <span class="btn-split-icon"><i class="fa fa-caret-up"></i></span>
          </button>
          <mat-menu #above="matMenu" yPosition="above">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="below">Below
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #below="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="Before">Before
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #Before="matMenu" xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="After">After
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #After="matMenu" xPosition="after">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>

        <!--ST: color -->
        <div class="style-guide-example" *ngSwitchCase="'colorType'">
          <div class="mb-1">
            <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="primary">
              Primary
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #primary="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-secondary btn-split me-1" [matMenuTriggerFor]="secondary">
              Secondary
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #secondary="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-success btn-split me-1" [matMenuTriggerFor]="sucess">
              Sucess
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #sucess="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-info btn-split me-1" [matMenuTriggerFor]="info">
              Info
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #info="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-warning btn-split me-1" [matMenuTriggerFor]="warning">
              Warning
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #warning="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-danger btn-split me-1" [matMenuTriggerFor]="danger">
              Danger
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #danger="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-light btn-split me-1" [matMenuTriggerFor]="light">
              Light
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #light="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button type="button" class="btn btn-dark btn-split me-1" [matMenuTriggerFor]="dark">
              Dark
              <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
            </button>
            <mat-menu #dark="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <!-- EN: color defualt -->
          <!-- ST: color split-->
          <div class="mb-1">
            <label role="button" class="btn btn-primary btn-split me-1">
              Primary
              <span class="btn-split-menu" [matMenuTriggerFor]="primary"><i class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #primary="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-secondary btn-split me-1">
              Secondary
              <span class="btn-split-menu" [matMenuTriggerFor]="secondary"><i
                class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #secondary="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-success btn-split me-1">
              Sucess
              <span class="btn-split-menu" [matMenuTriggerFor]="sucess"><i class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #sucess="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-info btn-split me-1">
              Info
              <span class="btn-split-menu" [matMenuTriggerFor]="info"><i
                class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #info="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-warning btn-split me-1">
              Warning
              <span class="btn-split-menu" [matMenuTriggerFor]="warning"><i class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #warning="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-danger btn-split me-1">
              Danger
              <span class="btn-split-menu" [matMenuTriggerFor]="danger"><i
                class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #danger="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-light btn-split me-1">
              Light
              <span class="btn-split-menu" [matMenuTriggerFor]="light"><i
                class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #light="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <label role="button" class="btn btn-dark btn-split me-1">
              Dark
              <span class="btn-split-menu" [matMenuTriggerFor]="dark"><i
                class="fa fa-caret-down"></i></span>
            </label>
            <mat-menu #dark="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <!-- EN: color split-->
        </div>
        <!--EN: color -->

        <div class="style-guide-example" *ngSwitchCase="'colorOutlineType'">
          <div class="d-flex mb-1">
            <ng-container *ngFor="let btn of colors; let i=index;">
              <button type="button" class="btn btn-split me-1" [ngClass]="'btn-outline-'+btn.color"
                      [matMenuTriggerFor]="primary">
                {{ btn.label }}
                <span class="btn-split-icon">
                <i class="fa fa-caret-down"></i>
              </span>
              </button>
              <mat-menu #primary="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </ng-container>
          </div>
          <div class="d-flex">
            <ng-container *ngFor="let btn of colors; let i=index;">
              <label class="btn btn-split me-1" [ngClass]="'btn-outline-'+btn.color" role="button">
                {{ btn.label }}
                <span class="btn-split-menu"
                      [matMenuTriggerFor]="primary"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #primary="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </ng-container>
          </div>
          <!--<div class="d-flex">
            <ng-container *ngFor="let btn of colors; let i=index;">
              <div class="btn-split-group me-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-split-item" [ngClass]="'btn-outline-'+ btn.color"
                        (click)="onClick()">{{ btn.label }}</button>
                <button type="button" class="btn btn-split-item" [ngClass]="'btn-outline-'+btn.color"
                        [matMenuTriggerFor]="group">
                  <span><i class="fa fa-caret-down"></i></span>
                </button>
              </div>
              <mat-menu #group="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </ng-container>
          </div>-->
        </div>

        <!-- ST: divider -->
        <div class="style-guide-example" *ngSwitchCase="'divider'">
          <div class="mb-3">
            <h5>기본 컬러 </h5>
            <div class="d-flex mb-1">
              <ng-container *ngFor="let btn of colors">
                <button matRipple type="button" class="btn btn-split me-1" [ngClass]="'btn-'+ btn.color"
                        [matMenuTriggerFor]="basic">
                  {{ btn.label}}
                  <span class="btn-split-icon divider-left"><i class="fa fa-caret-down"></i></span>
                </button>
                <mat-menu #basic="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
            <!-- ST: 아이콘 버튼 -->
            <div class="d-flex">
              <ng-container *ngFor="let btn of colors; let i=index;">
                <label matRipple role="button" class="btn btn-split me-1" [ngClass]="'btn-'+ btn.color">
                  {{ btn.label}}
                  <span class="btn-split-menu divider-left" [matMenuTriggerFor]="icon"><i class="fa fa-caret-down"></i></span>
                </label>
                <mat-menu #icon="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
            <!-- : 아이콘 버튼 -->
            <!--ST: Group -->
            <div class="d-flex">
              <ng-container *ngFor="let btn of colors; let i=index;">
                <div class="btn-split-group me-1" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-split-item divider-right" [ngClass]="'btn-'+ btn.color"
                          (click)="onClick()">{{ btn.label }}</button>
                  <button type="button" class="btn btn-split-item"
                          [ngClass]="'btn-'+ btn.color" [matMenuTriggerFor]="group">
                    <span><i class="fa fa-caret-down"></i></span>
                  </button>
                </div>
                <mat-menu #group="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
            <!--ST: Group -->
          </div>

          <div>
            <h5>아웃라인 컬러</h5>
            <div class="d-flex mb-1">
              <ng-container *ngFor="let btn of colors; let i=index;">
                <button type="button" class="btn btn-split me-1" [ngClass]="'btn-outline-'+btn.color"
                        [matMenuTriggerFor]="primary">
                  {{ btn.label }}
                  <span class="btn-split-icon" [ngClass]="'divider-left-'+btn.color">
                <i class="fa fa-caret-down"></i>
              </span>
                </button>
                <mat-menu #primary="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
            <div class="d-flex">
              <ng-container *ngFor="let btn of colors; let i=index;">
                <label class="btn btn-split me-1" [ngClass]="'btn-outline-'+btn.color" role="button">
                  {{ btn.label }}
                  <span class="btn-split-menu"
                        [ngClass]="'divider-left-'+btn.color"
                        [matMenuTriggerFor]="primary"><i class="fa fa-caret-down"></i></span>
                </label>
                <mat-menu #primary="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
            <div class="d-flex">
              <ng-container *ngFor="let btn of colors; let i=index;">
                <div class="btn-split-group me-1" role="group" aria-label="Button group with nested dropdown">
                  <button type="button"  class="btn btn-split-item"
                          [ngClass]="['divider-right-'+btn.color, 'btn-outline-'+ btn.color]"
                          (click)="onClick()">{{ btn.label }}</button>
                  <button type="button" class="btn btn-split-item"
                          [ngClass]="'btn-outline-'+ btn.color" [matMenuTriggerFor]="group">
                    <span><i class="fa fa-caret-down"></i></span>
                  </button>
                </div>
                <mat-menu #group="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- EN: divider-->

        <!--ST: 사이즈별 -->
        <div class="style-guide-example d-flex column" *ngSwitchCase="'size'">
          <!-- ST: 전체 버튼 -->
          <div class="d-flex">
            <div class="mb-5">
              <button type="button" class="btn btn-primary btn-split btn-xl me-1" [matMenuTriggerFor]="xLarge">
                X Large
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #xLarge="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-primary btn-split btn-lg me-1" [matMenuTriggerFor]="large">
                Large
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #large="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="default">
                Default
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #default="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-primary btn-split btn-sm me-1" [matMenuTriggerFor]="small">
                Small
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #small="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>

              <button type="button" class="btn btn-primary btn-split btn-xs me-1" [matMenuTriggerFor]="xsmall">
                X Small
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #xsmall="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary btn-split btn-xl me-1" [matMenuTriggerFor]="xLarge">
                X Large
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #xLarge="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-outline-primary btn-split btn-lg me-1" [matMenuTriggerFor]="large">
                Large
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #large="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-outline-primary btn-split me-1" [matMenuTriggerFor]="default">
                Default
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #default="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-outline-primary btn-split btn-sm me-1" [matMenuTriggerFor]="small">
                Small
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #small="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <button type="button" class="btn btn-outline-primary btn-split btn-xs me-1" [matMenuTriggerFor]="xsall">
                X Small
                <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
              </button>
              <mat-menu #xsall="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
          </div>
          <!-- EN: 전체 버튼 -->

          <!-- ST: 화살표 버튼 -->
          <div class="d-flex col">
            <!-- ST: defulat -->
            <div class="mb-1">
              <label role="button" class="btn btn-primary btn-split btn-xl me-1">
                X Large
                <span class="btn-split-menu" [matMenuTriggerFor]="xLarge"><i
                  class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #xLarge="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-primary btn-split btn-lg me-1">
                Large
                <span class="btn-split-menu" [matMenuTriggerFor]="large"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #large="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-primary btn-split me-1">
                Default
                <span class="btn-split-menu" [matMenuTriggerFor]="default"><i
                  class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #default="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-primary btn-split btn-sm me-1">
                Small
                <span class="btn-split-menu" [matMenuTriggerFor]="small"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #small="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-primary btn-split btn-xs me-1">
                X Small
                <span class="btn-split-menu" [matMenuTriggerFor]="xsall"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #xsall="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
            <!-- EN: defulat -->
            <!-- ST: outline -->
            <div>
              <label role="button" class="btn btn-outline-primary btn-split btn-xl me-1">
                X Large
                <span class="btn-split-menu" [matMenuTriggerFor]="xLarge"><i
                  class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #xLarge="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-outline-primary btn-split btn-lg me-1">
                Large
                <span class="btn-split-menu" [matMenuTriggerFor]="large"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #large="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-outline-primary btn-split me-1">
                Default
                <span class="btn-split-menu" [matMenuTriggerFor]="default"><i
                  class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #default="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-outline-primary btn-split btn-sm me-1">
                Small
                <span class="btn-split-menu" [matMenuTriggerFor]="small"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #small="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
              <label role="button" class="btn btn-outline-primary btn-split btn-xs me-1">
                X Small
                <span class="btn-split-menu" [matMenuTriggerFor]="xsall"><i class="fa fa-caret-down"></i></span>
              </label>
              <mat-menu #xsall="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
            </div>
          </div>
          <!-- EN: 전체 버튼 -->
        </div>
        <!--EN: 사이즈별 -->

        <!--ST: disable-->
        <div class="style-guide-example" *ngSwitchCase="'disable'">
          <button disabled type="button" class="btn btn-primary btn-split me-1" [matMenuTriggerFor]="disabled">
            Disabled
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #disabled="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <!--EN: disable-->

        <!--ST: rounded -->
        <div class="style-guide-example" *ngSwitchCase="'rounded'">
          <button type="button" class="btn btn-primary btn-split btn-split-rounded me-1" [matMenuTriggerFor]="round1">
            Rounded
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #round1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <label role="button" class="btn btn-secondary btn-split btn-split-rounded me-1">
            Rounded
            <span class="btn-split-menu" [matMenuTriggerFor]="round2"><i class="fa fa-caret-down"></i></span>
          </label>
          <mat-menu #round2="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button type="button" class="btn btn-outline-primary btn-split btn-split-rounded me-1"
                  [matMenuTriggerFor]="round1">
            Rounded
            <span class="btn-split-icon"><i class="fa fa-caret-down"></i></span>
          </button>
          <mat-menu #round1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <label role="button" class="btn btn-outline-secondary btn-split btn-split-rounded me-1">
            Rounded
            <span class="btn-split-menu" [matMenuTriggerFor]="round2"><i class="fa fa-caret-down"></i></span>
          </label>
          <mat-menu #round2="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

        </div>
        <!--EN: rounded -->

      </ng-container>
    </ng-container>
  </div>

  <aside-menu-right [menu]="splitMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
