<div class="tree-btn-group" *ngIf="expandUsed">
  <button class="btn btn-outline-secondary btn-xs"
          (click)="expandAll()"
          [matTooltip]="'buttons.expandAll' | translate">
    <mat-icon class="md-14">unfold_more</mat-icon>
  </button>
  <button class="btn btn-outline-secondary btn-xs"
          (click)="collapseAll()"
          [matTooltip]="'buttons.collapseAll' | translate">
    <mat-icon class="md-14">unfold_less</mat-icon>
  </button>
</div>
<tree-root class="dp-directory" #tree
           [(state)]="state"
           (event)="onEvent($event)"
           [nodes]="_nodes"
           [options]="options">

  <ng-container> <!-- *ngIf="!displayField" -->
    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <tree-node-expander [node]="node"></tree-node-expander>
        <span class="icon-directory">
            <img [src]="'/assets/icons/' + ( node.hasChildren ? 'folder_open_Icon.svg' : 'folder_Icon.svg')"
                 style="width: 20px; vertical-align: initial;"
                 [alt]="node.hasChildren ? 'Open' : 'Close'"/>
          </span>
        <div class="node-content-wrapper"
             [ngClass]="size"
             #categoriesElem
             [id]="node.data._id"
             [class.active]="nodeActiveId === node.data._id"
             [class.drag-over]="dragoverId == node.data._id"
             [class.node-content-wrapper-active]="node.isActive"
             [class.node-content-wrapper-focused]="node.isFocused"
             (click)="node.mouseAction('click', $event)"
             (dragenter)="treeDragEnter($event, node)"
             (contextmenu)="node.mouseAction('contextMenu', $event)"
             (treeDrop)="node.onDrop($event)"
             [treeAllowDrop]="node.allowDrop"
             [treeDrag]="node"
             [treeDragEnabled]="node.allowDrag()">
          <tree-node-content [node]="node" [index]="index" *ngIf="!node.isEdit"></tree-node-content>
          <!-- (blur)="updateNode(node)" -->
          <input *ngIf="node.isEdit" class="form-control tree-input"
                 [id]="'tree_input_' + node.data._id"
                 style="position: relative; z-index:10; user-select: none;"
                 (keyup.enter)="updateNode(node)"
                 [(ngModel)]="node.data.name"/>
          <div *ngIf="editMode"
               (click)="updateNode(node)"
               style="position: fixed; top:0; left:0; right:0; bottom:0; z-index:9; user-select: none;"></div>
        </div>

        <!-- ST: 폴더 추가/삭제/수정 기능-->
        <ng-container *ngIf="!editMode && !mode">
          <!--하위폴더 추가-->
          <button mat-button class="btn-tree-item"
                  [matTooltip]="'buttons.add_folder'|translate"
                  (click)="addChildren($event, node.data)">
            <mat-icon class="md-16">add</mat-icon>
          </button>
          <!--이름 수정-->
          <button mat-button class="btn-tree-item"
                  *ngIf="node.level !== 1"
                  [matTooltip]="'buttons.modified_name'|translate"
                  (click)="editName($event, node)">
            <mat-icon class="md-16">edit</mat-icon>
          </button>
          <!--폴더 삭제-->
          <button mat-button class="btn-tree-item"
                  *ngIf="node.level !== 1"
                  [matTooltip]="'buttons.delete_folder'|translate"
                  (click)="deleteMsg($event, node)">
            <mat-icon class="md-16">delete</mat-icon>
          </button>
        </ng-container>
        <!-- ST: 폴더 추가/삭제/수정 기능-->
      </div>
    </ng-template>
  </ng-container>

  <!--<ng-container *ngIf="displayField">
    <tree-root #tree class="dp-directory"
               (event)="onEvent($event)"
               [focused]="true"
               [options]="options"
               [nodes]="nodes">
      <ng-template #treeNodeTemplate let-node let-index="index">
            <span class="tree-item"
                  (click)="node.mouseAction('click', $event)"
                  *ngIf="node">
              {{node.data[displayField]}}
            </span>
      </ng-template>
    </tree-root>
  </ng-container>-->
</tree-root>
