<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basicBreadCrumb>Breadcrumb 기본</h3>
    <p>이동 경로는 페이지 계층 구조에 대한 상황별 정보를 제공합니다.</p>
    <div class="style-guide-example">
      <!-- ST : breadcrumb-->
      <div class="dtk-breadcrumb">
        <ul>
          <li>
            <button matRipple>
              {{ 'nav.home' | translate }}
            </button>
          </li>
          <li>
            <button matRipple>
              Style Guide
            </button>
          </li>
          <li *ngFor="let bc of breadcrumb; index as i;">
            <button [matMenuTriggerFor]="subMenu">
              {{bc.name}}
            </button>
            <mat-menu #subMenu
                      class="breadcrumb-children">
              <button mat-menu-item *ngFor="let mn of bc.menu; index as ii"
                      [routerLink]="[ mn.link ]"
                      [class.active]="i === bc.index">
                {{mn.name}}
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <!-- EN : breadcrumb-->
    </div>
  </div>
  <aside-menu-right [menu]="buttonMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
