
.example-context-area {
  display: block;
  border: 1px dashed black;
  background: rgba(0,0,0, 0.02);
}

.example-context-area .example-context-area {
  margin: 100px;
  height: 100px;
  background: #FFF;
}
