<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basic>Basic</h3>
    <p>basic tab menu</p>
    <div class="style-guide-example d-flex flex-column gap-2">
      <h5>material</h5>
      선택한 탭 인덱스 : {{matSelectedIndex}}
      <mat-tab-group animationDuration="0ms"
                     (selectedIndexChange)="changeTabIndex($event)"
                     [selectedIndex]="matSelectedIndex">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start"
                     (selectedIndexChange)="changeTabIndex($event)"
                     [selectedIndex]="matSelectedIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="md-14">thumb_up</mat-icon>
            First
          </ng-template>
          Content 1
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="md-14">star</mat-icon>
            Second
          </ng-template>
          Content 2
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="md-14">check</mat-icon>
            Third
          </ng-template>
          Content 3
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="style-guide-example d-flex flex-column gap-3">
      <h5>ngx-bootstrap</h5>
      방금 선택한 탭 : {{ngxSelectTab}}
      <tabset class="ngx-tab" [justified]="true">
        <tab heading="Justified" id="Justified" (selectTab)="onSelectTab($event)">Justified content</tab>
        <tab heading="SJ" id="SJ" (selectTab)="onSelectTab($event)">Short Labeled Justified content</tab>
        <tab heading="Long Justified" id="Long Justified" (selectTab)="onSelectTab($event)">Long Labeled Justified content</tab>
      </tabset>
      <tabset class="ngx-tab">
        <tab id="custom1" (selectTab)="onSelectTab($event)">
          <ng-template tabHeading>
            <mat-icon class="md-14">thumb_up</mat-icon>
            custom1
          </ng-template>
          헤더 템플릿 커스텀은 ng-template에 tabHeading
        </tab>
        <tab id="custom2" (selectTab)="onSelectTab($event)">
          <ng-template tabHeading>
            <mat-icon class="md-14">star</mat-icon>
            custom2
          </ng-template>
          헤더 템플릿 커스텀은 ng-template에 tabHeading
        </tab>
        <tab id="custom3" (selectTab)="onSelectTab($event)">
          <ng-template tabHeading>
            <mat-icon class="md-14">check</mat-icon>
            custom3
          </ng-template>
          헤더 템플릿 커스텀은 ng-template에 tabHeading
        </tab>
      </tabset>
    </div>

    <h3 #anchor #size>Size</h3>
    <p>사이즈 별 tab menu</p>
    <div class="style-guide-example d-flex flex-column gap-2">
      <h5>material</h5>
      <mat-tab-group class="mat-tabs-sm"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab-sm </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="mat-tabs"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="mat-tabs-lg"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab-lg </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="style-guide-example d-flex flex-column gap-2">
      <h5>ngx-bootstrap</h5>
      <tabset class="ngx-tab ngx-tab-sm">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
      <tabset class="ngx-tab">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
      <tabset class="ngx-tab ngx-tab-lg">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
    </div>

    <h3 #anchor #vertical>Vertical</h3>
    <p>세로형 tab menu</p>
    <div class="style-guide-example d-flex flex-column gap-2">
      <h5>material (animation은 안됩니다)</h5>
      <mat-tab-group class="mat-tabs mattabs-sm vertical" animationDuration="0ms"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab-sm </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="mat-tabs vertical" animationDuration="0ms"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group class="mat-tabs mat-tabs-lg vertical" animationDuration="0ms"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let item of [1,2,3]">
          <ng-template mat-tab-label> mat-tab-lg </ng-template>
          Content {{item}}
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="style-guide-example d-flex flex-column gap-3">
      <h5>ngx-bootstrap</h5>
      <tabset class="ngx-tab ngx-tab-sm vertical">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
      <tabset class="ngx-tab vertical">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
      <tabset class="ngx-tab ngx-tab-lg vertical">
        <tab heading="Basic title">Basic content</tab>
        <tab heading="Basic Title 1">Basic content 1</tab>
        <tab heading="Basic Title 2">Basic content 2</tab>
      </tabset>
    </div>
  </div>
</div>
