@import '../../../styles-variables';
/* colors */
//$blue: #293b49;
$pink: #fdabaf;
$pink-light: #ffe0e6;
$bg: #daf6fe;
// $green: #04cba0;
// $green-dark: #01ac88;
// $white: #daf6fe;

.page-not-found {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  //background: url('/assets/images/bg/orange-and-purple-background-with-wavy-shapes.jpg') center center no-repeat;
  background: url('/assets/images/bg/login-bg.jpg') center center no-repeat;
  background-size: cover;
  user-select: none;
  &-wrap {
    h3 {
      font-size: 24px;
      font-weight: 200;
      color: $primary;
    }
    p {
      font-size: 14px;
      color: #666;
      b {
        color: $primary;
      }
    }
  }

  &-img {
    margin-bottom: 20px;
    /*img {
      height: 150px;
    }*/
    .error {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }

    .number {
      font-weight: 900;
      font-size: 15rem;
      line-height: 1;
      color: $primary;
    }

    .illustration {
      position: relative;
      width: 12.2rem;
      margin: 0 0.5rem;
    }

    .circle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 12.2rem;
      height: 11.4rem;
      border-radius: 50%;
      background-color: $primary;
    }

    .clip {
      position: absolute;
      bottom: 0.3rem;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      width: 12.5rem;
      height: 13rem;
      border-radius: 0 0 50% 50%;
    }

    .paper {
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 9.2rem;
      height: 12.4rem;
      border: 0.3rem solid $primary;
      background-color: $white;
      border-radius: 0.8rem;

      &::before {
        content: "";
        position: absolute;
        top: -0.45rem;
        right: -0.65rem;
        width: 1.4rem;
        height: 1rem;
        background-color: $bg;
        border-bottom: 0.3rem solid $primary;
        transform: rotate(45deg);
      }
    }

    .face {
      position: relative;
      margin-top: 2.3rem;
    }

    .eyes {
      position: absolute;
      top: 0;
      left: 2rem;
      width: 4.6rem;
      height: 0.8rem;
    }

    .eye {
      position: absolute;
      bottom: 0;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: $primary;
      animation-name: eye;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    .rosyCheeks {
      position: absolute;
      top: 1.6rem;
      width: 1rem;
      height: 0.2rem;
      border-radius: 50%;
      background-color: $pink;

      &-left {
        left: 1.4rem;
      }

      &-right {
        right: 1.4rem;
      }
    }
    .mouth {
      position: absolute;
      top: 3.1rem;
      left: 50%;
      width: 1.6rem;
      height: 0.2rem;
      border-radius: 0.1rem;
      transform: translateX(-50%);
      background-color: $primary;
    }
  }
}

@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}
