<!-- ST: range picker -->
<div class="form-group">
  <div class="form-box icon-left calendar"
       [class.icon-mat]="_bsConfig.withTimepicker === true">
    <!-- calendar-time 사용 시 icon-mat 클래스 추가 -->
    <input type="text" style="display: block"
           cdkOverlayOrigin
           #d1="cdkOverlayOrigin"
           [placeholder]="placeholder || _bsConfig.rangeInputFormat"
           class="form-control"
           [ngClass]="size && size !== '' ? 'form-control-' + size : ''"
           [ngModel]="selectDate | dateRange : _bsConfig.rangeInputFormat"
           (click)="open = true">
    <span class="clear-btn"
          *ngIf="selectDate !== undefined"
          (click)="deleteDate()">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
    <ng-template cdkConnectedOverlay
                 [cdkConnectedOverlayOrigin]="d1"
                 [cdkConnectedOverlayOpen]="open">
      <div>
        <bs-daterangepicker-inline [bsValue]="selectDate"
                                   (bsValueChange)="changeDate($event)"
                                   [minDate]="minDate"
                                   [maxDate]="maxDate"
                                   [bsConfig]="_bsConfig">
        </bs-daterangepicker-inline>
        <div style="padding:5px 15px; background:#FFF; text-align: right;">
          {{open}}
          <button class="btn btn-primary btn-sm" (click)="closePopup()">
            {{'buttons.close' | translate}}
          </button>
        </div>
      </div>
      <div *ngIf="open"
           class="overlay-bg"
           (click)="open = false"></div>
    </ng-template>
  </div>
</div>

<!-- EN: range picker -->

