@import '../../../styles-variables';

.style-guide {
  &-wrap {
    display: flex;
    flex: 1;
  }

  &-aside {
    width: 200px;
    border-right: 1px solid #CCC;
    font-size: 12px;
    user-select: none;
    h2.aside-title {
      font-size: 14px;
      padding: 0 10px;
      line-height: 50px;
      .aside-title-icon {
        color:$primary;
        display: inline-block;
        border:1px solid #DDD;
        width: 30px;
        height: 30px;
        line-height: 26px;
        text-align: center;
        border-radius: 5px;
        margin-right: 10px;
        background-color: #FFF;
      }
    }
  }

  &-container {
    flex: 1;
    position: relative;
  }

  &-content {
    /*position: relative;
    z-index: 1;*/
    /*background: #FFF;*/
    /*max-width: 1200px;
    min-height: 500px;*/
    margin: 0;
    padding: 20px 30px;
    /*border-radius: 20px 20px 0 0;*/
    p, pre {
      //margin-top: 20px;
      color: #666;
    }
  }

  &-example {
    padding: 20px 30px;
    background: #FFF;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 10px;
    }

    mat-checkbox {
      margin-left: 10px;
    }

    button{
      //margin-bottom: 5px;
      //margin-right: 7px !important;

    .gnb,
    .dtk-breadcrumb {
      button {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
      }
    }

    & > * {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
}
  }
}

.component-wrap {
  flex: 1;
  padding-right: 20px;
  &.button .style-guide-example button {
    margin-bottom: 5px;
    margin-right: 7px !important;
  }
}
.aside-menu-right {
  width: 300px;
  border-left: 1px solid #ddd;
  padding: 10px 15px;
  ul {
    position: sticky;
    top: 60px;
    li {
      cursor: pointer;
      font-size: $default-font-size;
      margin-bottom: 8px;
      color: #999;
      &:hover{
        color: #333;
      }
      &.active{
        position: relative;
        color: $primary;
        &:before{
          content: '';
          display: block;
          border-left: 3px solid #007bff;
          position: absolute;
          left: -16px;
          top: 0;
          //width: 5px;
          height: 100%;
        }
      }
    }
  }
}
.speed-dial{
  height: 350px;
}
