@import './src/styles-variables.scss';
.bs-datepicker {
  background-color: transparent;
  box-shadow: none;
}
.bs-datepicker-container {
  padding: 0 !important;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #aaa;
}

.bs-datepicker-body table td.week span {
  color: $primary !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover,
.theme-green .btn-today-wrapper .btn-success, .theme-green .btn-clear-wrapper .btn {
  background-color: $primary !important;
  border: none !important;
  color: #fff !important;
}

.bs-datepicker-buttons {
  padding: 5px !important;
}

.bs-datepicker-custom-range {
  padding: 50px 0 0 0 !important;
  background-color: transparent;
}
.bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected) {
  background-color: lighten($primary, 30);
}
.bs-datepicker-body table.days span.in-range:not(.select-start):not(.disabled):before {
  background-color: lighten($primary, 38);
}
.bs-datepicker-predefined-btns button {
  margin-bottom: 8px;
  padding: 0 12px;
  border: 1px solid $primary;
  border-left: none;
  color: $primary;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  font-size: $font-size-sm;
  transition: 0.3s;
  //opacity: 0.7;
  &:hover {
    background-color: lighten($primary, 35) !important;
    color: $primary;
  }
  &.selected, &:active {
    background-color: $primary !important;
    color: #fff;
   &:hover {
     background-color: lighten($primary, 10) !important;
   }
  }
}

.bs-timepicker-field {
  width: 50px !important;
}

.bs-chevron {
  width: 8px !important;
  height: 8px !important;
  border-width: 2px 0 0 2px !important;
}

.ngx-today {
  color: $primary;
}

//툴팁
.tooltip .tooltip-arrow {

}

.tooltip-inner{
  background-color: darken($primary, 10);
}
.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: darken($primary, 10);
}

/****************************** EN: ngx-datepicker *************************************************/
