<!-- ST: date picker -->
<div class="form-group">
  <div class="form-box icon-left calendar">
    <input type="text" style="display: block"
           cdkOverlayOrigin
           #d1="cdkOverlayOrigin"
           [placeholder]="placeholder || _bsConfig.dateInputFormat"
           class="form-control"
           [ngClass]="size && size !== '' ? 'form-control-' + size : ''"
           [ngModel]="selectDate | date : changeDateFormat(_bsConfig.dateInputFormat)"
           (click)="toggleOpen()">
    <span class="clear-btn"
          *ngIf="selectDate !== undefined"
          (click)="deleteDate()">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
    <ng-template cdkConnectedOverlay
                 position
                 [cdkConnectedOverlayOrigin]="d1"
                 [cdkConnectedOverlayOpen]="open">
      <bs-datepicker-inline [bsValue]="selectDate"
                            (bsValueChange)="changeDate($event)"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            [bsConfig]="_bsConfig">
      </bs-datepicker-inline>
    </ng-template>
    <div *ngIf="open"
         class="overlay-bg"
         (click)="open = false"></div>
  </div>
</div>
<!-- EN: date picker -->
