@import "styles-variables";
// 첫번째는 체크박스 사이즈 두번째는 라벨 폰트 사이즈 check width 네번째는 check height
$check-sizes: (
  xs: 10 $font-size-xs 5,
  sm: 12 $font-size-sm 6,
  lg: 19 $font-size-lg 10,
  xl: 22 $font-size-xl 14
);

// 첫번째는 라디오 사이즈 두번째는 라벨 폰트 사이즈 안에 원(before)
$radio-sizes: (
  xs: 10 $font-size-xs 4.5,
  sm: 12 $font-size-sm 6,
  lg: 19 $font-size-lg 9.5,
  xl: 22 $font-size-xl 11.5
);

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);

$radio-default-size: 16px;

@mixin mat-size {
  .mdc-form-field>label {
    padding-left: 5px;
  }
  .mat-mdc-radio-touch-target {
    height: 30px;
    width: 30px;
  }
  .mat-mdc-radio-button {
    margin-right: 15px;
    .mdc-radio {
      width: $radio-default-size;
      height: $radio-default-size;
      --mdc-radio-state-layer-size: 20px;
    }
    .mdc-radio__background {
      width: $radio-default-size;
      height: $radio-default-size;
      .mdc-radio__outer-circle {
        border-width: 1px;
      }
      &::before {
        top: calc(-1 * (var(--mdc-radio-state-layer-size) - $radio-default-size) / 2) !important;
        left: calc(-1 * (var(--mdc-radio-state-layer-size) - $radio-default-size) / 2) !important;
      }
    }
    .mdc-radio__inner-circle {
      border-width: 8px;
    }
    &.mat-accent {
      --mdc-radio-unselected-icon-color: #d7d7d7;
      --mdc-radio-unselected-pressed-icon-color: #d7d7d7;
      --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
    }

    label {
      cursor: pointer;
    }

    @each $key, $color in $colors {
      &.mat-radio-#{$key} {
        &.mat-accent {
          --mat-radio-ripple-color: #{$color}; // Ripple Background
          --mdc-radio-selected-icon-color: #{$color}; // 선택된 라디오 버튼 내부
          --mdc-radio-selected-hover-icon-color: #{$color}; // 선택된 라디오 버튼 아웃라인
          --mdc-radio-unselected-hover-icon-color: #{$color}; // 마우스 오버 아웃라인
          --mdc-radio-selected-focus-icon-color: #{$color};
          --mat-radio-checked-ripple-color: #{$color};
          --mdc-radio-selected-pressed-icon-color: #{$color};
        }
        label:hover {
          color: $color;
        }
      }
    }
  }
}
