/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import 'styles-variables';

@import '@angular/material/theming';
@import './themes/default-theme';
@import './themes/dark-theme';

@import 'styles-reset.scss-theme';
@import 'bootstrap.theme';
@import '~ladda/dist/ladda.min.css';

.default-theme {
  @include mat.all-component-themes($dtk-theme);
}
.dark-theme {
  @include mat.all-component-themes($dtk-dark-theme);
}

$font-family: $font-family-sans-serif;

//@import 'bootstrap.min.css';
@import 'fonts'; // 모든 폰트

/*
PopoverModule,
PaginationModule,
TimepickerModule,
TooltipModule,
TabsModule,
CollapseModule,
ButtonsModule,
*/

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  font-family: $default-font;
}
html, body {
  height: 100%;
  position: relative;
  --mat-badge-small-size-text-size: 7px;
}
body {
  margin: 0;
  font-family: $default-font;
}
// Header Style
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
//
p {
  font-size: 12px;
}
//
button {
  border: none;
  background: transparent;
}
// list style
ul, ol, dl {
  list-style: none;
  margin:0;
  padding:0;
  font-size: 12px;
  color: #666;
  li {
    & > ul,
    & > ol {
      margin-top: 5px;
      margin-left: 15px;
    }
  }
  // 리스트 기분
  &.base-ul {
    & > li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 15px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 5px;
        width: 4px;
        height: 4px;
        background: #333;
        border-radius: 50%;
      }
    }
  }

  // Font Awesome Icon List
  // .icon-ul + fa-뺀 아이콘 Class
  &.icon-ul {
    & > li {
      position: relative;
      margin-bottom: 5px;
      &:before {
        content: '';
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        display: inline-block;
        margin-right: 5px;
      }
      & > ol,
      & > ul {
        margin-left: 30px;
      }
    }
  }

  &.base-ol {
    list-style: decimal;
    & > li {
      &::marker {
        color: #333;
      }
      padding-left: 5px;
    }
  }
}


.base-guide {
  border:1px solid #DDD;
  /*box-shadow: $box-shadow;*/
  border-radius: 5px;
  padding: 20px 20px 15px 110px;
  position: relative;
  margin-bottom: 15px;
  &:before {
    content: 'developer_guide';
    display: block;
    font-family: 'Material Symbols Outlined';
    font-size: 42px;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #AAA;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width:0;
    border-right:1px solid #DDD;
    top: 20px;
    left: 80px;
    bottom: 20px;
  }
  &.info {
    &:before {
      content: 'info';
      color: $blue;
    }
  }

  &.noti {
    &:before {
      content: 'campaign';
      color: $warning;
    }
  }

  &.warning {
    &:before {
      content: 'warning';
      color: $danger;
    }
  }
}

.msg {
  font-size: 11px;
  padding: 5px 10px 5px 25px;
  position: relative;
  &:before {
    content: 'feedback';
    display: block;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: "FILL" 1;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 0;
    color: #AAA;
  }
  &.info {
    color: $blue;
    &:before {
      content: 'info';
      color: $blue;
    }
  }

  &.warning {
    color: $warning;
    &:before {
      content: 'notification_important';
      color: $warning;
    }
  }

  &.error {
    color: $danger;
    &:before {
      content: 'warning';
      color: $danger;
    }
  }
}

/****************************** ST: Material Style ******************************************/
/* ST: Mat-icon */
.mat-icon {
  vertical-align: middle;
  /* 아이콘 채우기 */
  &.fill {
    font-variation-settings: "FILL" 1;
  }

  /* 아이콘 사이즈 md-${size} */
  @each $size in 12, 14, 16, 18, 20, 22, 24, 28, 32, 36, 42, 48, 72 {
    &.md-#{$size} {
      font-size: $size + px !important;
      width: $size + px !important;
      height: $size + px !important;
      line-height: $size + px !important;
    }
    /* 아이콘 두께 md-wt-${size} */
    @each $weight in 100, 200, 300, 400, 500, 600, 700 {
      &.wt-#{$weight} {
        font-weight: $weight !important;
      }
    }
  }
}
/* EN: Mat-icon */
/* ST: Mat-button */
.mdc-button {
  min-width: 0 !important;
  padding: 0 5px;
}
/* EN: Mat-button*/

/* ST: Mat-Menu-Item */
.mat-mdc-menu-item {
  min-height: 30px !important;
}
/* EN: Mat-Menu-Item */

/****************************** EN: Material Style ******************************************/


/****************************** ST: Breadcrumb *************************************************/
.dtk-breadcrumb {
  height: 35px;

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    li {
      position: relative;

      span {
        font-size: 13px;
      }

      button {
        line-height: 36px;
        padding: 0 15px;
        font-size: .75rem;
        color: #888;
        font-weight: 200;
        cursor: pointer;
        &:hover {
          color: #333;
        }
      }
      /*&:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: rgba(230,230,230,.8);
        position: absolute;
        top: 0;
        right: 0;
      }*/
      + li {
        &:before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          left: -3px;
          top: 50%;
          border-top: 2px solid #BBB;
          border-right: 2px solid #BBB;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &:first-child {
        button {
          padding: 0 15px 0 0;
        }
      }

      &:last-child {
        color: #555;
        font-weight: 600;

        &:after {
          height: 0;
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }

      &.active {
        &:before {
          top: 50%;
          border-top: 2px solid #888;
          border-right: 2px solid #888;
          transform: translateY(-50%) rotate(315deg);
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }
    }
  }
}
.breadcrumb-children {
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      line-height: 25px !important;
      height: 25px !important;
      font-size: .5rem !important;

      &.active {
        background-color: $primary;
        color: #FFF;
      }
    }
  }
}
/****************************** EN: Breadcrumb *************************************************/
.d-flex{
  display: flex;
  &.row{
    flex-direction: row;
  }
  &.col{
    flex-direction: column;
    &-center{
      justify-content: center;
    }
  }
  &-1 {
    flex: 1;
  }
}
.txt-center{
  text-align: center;
}

/****************************** ST: ngx-datepicker *************************************************/
.bs-datepicker-container {
  padding: 0 !important;
}
.bs-datepicker-body table td.week span
{
  color: $primary !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover,
.theme-green .btn-today-wrapper .btn-success, .theme-green .btn-clear-wrapper .btn
{
  background-color: $primary !important;
  border: none !important;
  color: #fff !important;
}
.bs-datepicker-buttons {
  padding: 5px !important;
}
.bs-datepicker-predefined-btns button {
  background-color: $primary !important;
  opacity: 0.7;
  &.selected {
    //background-color: $primary ;
    opacity: 1;
  }
}
.bs-timepicker-field {
  width: 50px !important;
}
.bs-chevron {
  width: 8px !important;
  height: 8px !important;
  border-width: 2px 0 0 2px !important;
}
.ngx-today {
  color: $primary;
}
/****************************** EN: ngx-datepicker *************************************************/

