/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import 'styles-variables';

@import '@angular/material/theming';
@import './themes/default-theme';
@import './themes/dark-theme';

@import 'styles-reset.scss-theme';
@import '~ladda/dist/ladda.min.css';

.default-theme {
  @include mat.all-component-themes($dtk-theme);

  .mat-mdc-icon-button.mat-mdc-button-base{
    @include btn-icon($btn-padding);
  }
}

.dark-theme {
  @include mat.all-component-themes($dtk-dark-theme);
}

$font-family: $font-family-sans-serif;

//@import 'bootstrap.min.css';
@import 'fonts'; // 모든 폰트

/*
PopoverModule,
PaginationModule,
TimepickerModule,
TooltipModule,
TabsModule,
CollapseModule,
ButtonsModule,
*/

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

@import 'ngx-toastr/toastr';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// 부스트랩 5
@import 'ngx-toastr/toastr-bs5-alert';

@import 'bootstrap.theme';

// Quill Editor
@import '~quill/dist/quill.snow.css';
@import "quill-emoji/dist/quill-emoji.css";

// ag-grid
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

// angular-tree-component
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

* {
  font-family: $default-font;
}

html, body {
  height: 100%;
  position: relative;
  --mat-badge-small-size-text-size: 7px;
}

body {
  margin: 0;
  font-family: $default-font;
}

// Header Style
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

//
p {
  font-size: 12px;
}

//
button {
  border: none;
  background: transparent;
}

// list style
ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666;

  li {
    & > ul,
    & > ol {
      margin-top: 5px;
      margin-left: 15px;
    }
  }

  // 리스트 기분
  &.base-ul {
    & > li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 15px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 5px;
        width: 4px;
        height: 4px;
        background: #333;
        border-radius: 50%;
      }
    }
  }

  // Font Awesome Icon List
  // .icon-ul + fa-뺀 아이콘 Class
  &.icon-ul {
    & > li {
      position: relative;
      margin-bottom: 5px;

      &:before {
        content: '';
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        display: inline-block;
        margin-right: 5px;
      }

      & > ol,
      & > ul {
        margin-left: 30px;
      }
    }
  }

  &.base-ol {
    list-style: decimal;

    & > li {
      &::marker {
        color: #333;
      }

      padding-left: 5px;
    }
  }
}


.base-guide {
  border: 1px solid #DDD;
  /*box-shadow: $box-shadow;*/
  border-radius: 5px;
  padding: 20px 20px 15px 110px;
  position: relative;
  margin-bottom: 15px;

  &:before {
    content: 'developer_guide';
    display: block;
    font-family: 'Material Symbols Outlined';
    font-size: 42px;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #AAA;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    border-right: 1px solid #DDD;
    top: 20px;
    left: 80px;
    bottom: 20px;
  }

  &.info {
    &:before {
      content: 'info';
      color: $blue;
    }
  }

  &.noti {
    &:before {
      content: 'campaign';
      color: $warning;
    }
  }

  &.warning {
    &:before {
      content: 'warning';
      color: $danger;
    }
  }
}

.msg {
  font-size: 11px;
  padding: 5px 10px 5px 25px;
  position: relative;

  &:before {
    content: 'feedback';
    display: block;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: "FILL" 1;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 0;
    color: #AAA;
  }

  &.info {
    color: $blue;

    &:before {
      content: 'info';
      color: $blue;
    }
  }

  &.warning {
    color: $warning;

    &:before {
      content: 'notification_important';
      color: $warning;
    }
  }

  &.error {
    color: $danger;

    &:before {
      content: 'warning';
      color: $danger;
    }
  }
}

/****************************** ST: Material Style ******************************************/
/* ST: Mat-icon */
.mat-icon {
  vertical-align: middle;
  /* 아이콘 채우기 */
  &.fill {
    font-variation-settings: "FILL" 1;
  }

  /* 아이콘 사이즈 md-${size} */
  @each $size in 12, 14, 16, 18, 20, 22, 24, 28, 32, 36, 42, 48, 72 {
    &.md-#{$size} {
      font-size: $size + px !important;
      width: $size + px !important;
      height: $size + px !important;
      line-height: $size + px !important;
    }
    /* 아이콘 두께 md-wt-${size} */
    @each $weight in 100, 200, 300, 400, 500, 600, 700 {
      &.wt-#{$weight} {
        font-weight: $weight !important;
      }
    }
  }
}

/* EN: Mat-icon */
/* ST: Mat-button */
.mdc-button {
  min-width: 0 !important;
  padding: 0 5px;
}

/* EN: Mat-button*/

/* ST: Mat-Menu-Item */
.mat-mdc-menu-item {
  min-height: 30px !important;
}

/* EN: Mat-Menu-Item */
/****************************** EN: Material Style ******************************************/


/****************************** ST: Breadcrumb *************************************************/
.dtk-breadcrumb {
  height: 35px;

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    li {
      position: relative;

      span {
        font-size: 13px;
      }

      button {
        line-height: 36px;
        padding: 0 15px;
        font-size: .75rem;
        color: #888;
        font-weight: 200;
        cursor: pointer;

        &:hover {
          color: #333;
        }
      }

      /*&:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: rgba(230,230,230,.8);
        position: absolute;
        top: 0;
        right: 0;
      }*/
      + li {
        &:before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          left: -3px;
          top: 50%;
          border-top: 2px solid #BBB;
          border-right: 2px solid #BBB;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &:first-child {
        button {
          padding: 0 15px 0 0;
        }
      }

      &:last-child {
        color: #555;
        font-weight: 600;

        &:after {
          height: 0;
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }

      &.active {
        &:before {
          top: 50%;
          border-top: 2px solid #888;
          border-right: 2px solid #888;
          transform: translateY(-50%) rotate(315deg);
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }
    }
  }
}

.breadcrumb-children {
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      line-height: 25px !important;
      height: 25px !important;
      font-size: .5rem !important;

      &.active {
        background-color: $primary;
        color: #FFF;
      }
    }
  }
}

/****************************** EN: Breadcrumb *************************************************/
.d-flex {
  //display: flex;
  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;

    &-center {
      justify-content: center;
    }
  }


  @each $size in 1, 2, 3 {
    &-#{$size} {
     flex: $size
    }
  }

  &.alignC {
    align-items: center;
  }

  & > * {
    margin: 0 5px 5px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

/****************************** ST: ngx-datepicker *************************************************/
.bs-datepicker-container {
  padding: 0 !important;
}

.bs-datepicker-body table td.week span {
  color: $primary !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover,
.theme-green .btn-today-wrapper .btn-success, .theme-green .btn-clear-wrapper .btn {
  background-color: $primary !important;
  border: none !important;
  color: #fff !important;
}

.bs-datepicker-buttons {
  padding: 5px !important;
}

.bs-datepicker-predefined-btns button {
  background-color: $primary !important;
  opacity: 0.7;

  &.selected {
    //background-color: $primary ;
    opacity: 1;
  }
}

.bs-timepicker-field {
  width: 50px !important;
}

.bs-chevron {
  width: 8px !important;
  height: 8px !important;
  border-width: 2px 0 0 2px !important;
}

.ngx-today {
  color: $primary;
}

/****************************** EN: ngx-datepicker *************************************************/

/****************************** ST: form *************************************************/
.form {
  &-input { // input + clear-btn + invalid-feedback
    position: relative;

    button {
      margin: 0 0 0 10px !important;
    }

    input.valid {
      border-color: $success;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      &:focus {
        border-color: $success;
        box-shadow: 0 0 0 0.2rem rgba($success, .25);
      }
    }
    .valid-feedback {
      margin-top: 0 !important;
      font-size: 0.72em !important;
      //position: absolute;
    }


    input.invalid {
      border-color: $danger;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

      &:focus {
        border-color: $danger;
        box-shadow: 0 0 0 0.2rem rgba($danger, .25);
      }
    }

    .invalid-feedback {
      margin-top: 0 !important;
      font-size: 0.72em !important;
      //position: absolute;
    }

    .clear-btn {
      position: absolute;
      color: rgba(0, 0, 0, 0.5);
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 17px;
      font-weight: 600;
    }

    &:has(.form-control-xs) {
      mat-icon {
        font-size: 12px !important;
        width: 12px !important;
        height: 12px !important;
        line-height: 11px !important;
      }
    }

    &:has(.form-control-sm) {
      mat-icon {
        font-size: 15px !important;
        width: 15px !important;
        height: 15px !important;
        line-height: 14px !important;
      }
    }
  }

  &-set {
    //padding-bottom: 5px;
    & > * {
      margin-bottom: 0;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &.flex {
      display: flex;
      align-items: center;

      & > * {
        margin-bottom: 5px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &:has(.form-control-xs) {
      font-size: 9px;
    }

    &:has(.form-control-sm) {
      font-size: 10px;
    }

    &:has(.form-control-lg) {
      font-size: 16px;
    }
  }

  &-group {
    & > * {
      margin-bottom: 5px;
      //&:last-child { margin-bottom: 0; }
    }

    &.flex {
      display: flex;
      flex-wrap: wrap;
      align-items: end;

      & > * {
        margin-bottom: 0;
        margin-right: 5px;
        &:last-child { margin-right: 0; }
      }

      &:has(.form-set.flex) {
        align-items: center;
      }
    }
  }
}

label {
  margin: 0 10px 0 0;
  /* form-label min-width min-${size} */
  @each $size in 10, 20, 30, 40, 50 {
    &.min-#{$size} {
      min-width: $size + px !important;
    }
  }

  &.required {
    &::after {
      content: "*";
      color: $danger;
      font-size: 0.7rem;
      margin-left: 2px;
    }
  }

}

/****************************** EN: form *************************************************/

/****************************** ST: magic-input checkbox *************************************************/
.mgc {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0.2rem 0.4rem 0 0; //-0.15px 3px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  transition: background-color 0.25s;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc:checked:after {
  content: '';
  display: block;
  height: 4px;
  width: 7px;
  border: 0 solid #333;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  left: 3px;
}

.mgc:disabled {
  opacity: 0.65;
}

.mgc:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0px 2px #38a7ff;
}

.mgc:checked {
  background-color: #fff;
  border-color: #d7d7d7;
}

.mgc:checked:after {
  border-color: #414141;
}

.mgc-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-primary:checked {
  background-color: $primary;
  border-color: $primary;
}

.mgc-primary:checked:after {
  border-color: #fff;
}

.mgc-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-success:checked {
  background-color: $success;
  border-color: $success;
}

.mgc-success:checked:after {
  border-color: #fff;
}

.mgc-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-info:checked {
  background-color: $info;
  border-color: $info;
}

.mgc-info:checked:after {
  border-color: #fff;
}

.mgc-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-warning:checked {
  background-color: $warning;
  border-color: $warning;
}

.mgc-warning:checked:after {
  border-color: #fff;
}

.mgc-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-danger:checked {
  background-color: $danger;
  border-color: $danger;
}

.mgc-danger:checked:after {
  border-color: #fff;
}

.mgc-circle {
  border-radius: 50%;
}

.mgc-sm {
  width: 12px;
  height: 12px;
}

.mgc-sm:checked:after {
  top: 3px;
  left: 2px;
  height: 3px;
  width: 6px;
}

.mgc-lg {
  width: 19px;
  height: 19px;
}

.mgc-lg:checked:after {
  top: 5px;
  left: 3px;
  height: 5px;
  width: 10px;
}

input[type="radio"].mgr {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: -0.15px 0.6px 0 0;
  vertical-align: text-bottom;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

input[type="radio"].mgr:disabled {
  opacity: 0.65;
}

input[type="radio"].mgr:before {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  transition: width 0.25s, height 0.25s;
}

input[type="radio"].mgr:checked:before {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

input[type="radio"].mgr:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0px 2px #38a7ff;
}

input[type="radio"].mgr:checked {
  border: 1px solid #555;
}

input[type="radio"].mgr:checked:before {
  background-color: #555;
}

.mgr-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-primary:checked {
  border: 1px solid $primary;
}

.mgr-primary:checked:before {
  background-color: $primary;
}

.mgr-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-success:checked {
  border: 1px solid $success;
}

.mgr-success:checked:before {
  background-color: $success;
}

.mgr-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-info:checked {
  border: 1px solid $info;
}

.mgr-info:checked:before {
  background-color: $info;
}

.mgr-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-warning:checked {
  border: 1px solid $warning;
}

.mgr-warning:checked:before {
  background-color: $warning;
}

.mgr-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-danger:checked {
  border: 1px solid $danger;
}

.mgr-danger:checked:before {
  background-color: $danger;
}

.mgr-sm {
  width: 12px;
  height: 12px;
}

.mgr-sm:checked:before {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 2px 0 0 2px;
}

.mgr-lg {
  width: 19px;
  height: 19px;
}

.mgr-lg:checked:before {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

.mgc-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 41px;
  height: 24px;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #dfdfdf;
}

.mgc-switch:before,
.mgc-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: transform 0.3s;
}

.mgc-switch:before {
  width: 39px;
  height: 22px;
  background-color: #fdfdfd;
}

.mgc-switch:after {
  width: 22px;
  height: 22px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mgc-switch:checked {
  border-color: #04be02;
  background-color: #04be02;
}

.mgc-switch:checked:before {
  transform: scale(0);
}

.mgc-switch:checked:after {
  transform: translateX(17px);
}

.mgc-switch:focus {
  outline: 0;
}

.mgc-sm.mgc-switch {
  height: 20px;
  width: 32px;
}

.mgc-sm.mgc-switch:before {
  height: 18px;
  width: 30px;
}

.mgc-sm.mgc-switch:after {
  width: 18px;
  height: 18px;
}

.mgc-sm.mgc-switch:checked:after {
  top: 0px;
  left: 2px;
  transform: translateX(10px);
}

.mgc-lg.mgc-switch {
  height: 32px;
  width: 52px;
}

.mgc-lg.mgc-switch:before {
  height: 30px;
  width: 50px;
}

.mgc-lg.mgc-switch:after {
  width: 30px;
  height: 30px;
}

.mgc-lg.mgc-switch:checked:after {
  top: 0px;
  left: 2px;
  transform: translateX(18px);
}

/****************************** EN: magic-input checkbox *************************************************/

/****************************** ST: Mat-checkbox *************************************************/
.mat-success {
  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: $success !important;
    border-color: $success !important;
  }
}

.mat-info {
  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: $info !important;
    border-color: $info !important;
  }
}

.mat-warning {
  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: $warning !important;
    border-color: $warning !important;
  }
}

.mat-danger {
  .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: $danger !important;
    border-color: $danger !important;
  }
}

.matcheckbox {
  &-rounded {
    .mdc-checkbox__background {
      border-radius: 50%;
    }
  }

  .mdc-checkbox {
    padding: 0.4rem !important
  }

  .mdc-checkbox__background {
    width: 1.0rem !important;
    height: 1.0rem !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border: 1px solid #d7d7d7 !important;

    .mdc-checkbox__checkmark {
      padding: 2px;
    }
  }

  &-sm {
    .mdc-checkbox {
      padding: 0.2rem !important
    }

    .mdc-checkbox__background {
      width: 0.82rem !important;
      height: 0.82rem !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      border: 1px solid #d7d7d7 !important;

      .mdc-checkbox__checkmark {
        padding: 1px;
      }
    }
  }

  &-lg {
    .mdc-checkbox {
      padding: 0.6rem !important
    }

    .mdc-checkbox__background {
      width: 1.25rem !important;
      height: 1.25rem !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      border: 1px solid #d7d7d7 !important;

      .mdc-checkbox__checkmark {
        padding: 3px;
      }
    }
  }
}

.mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background .mdc-checkbox__mixedmark,
.mdc-checkbox__native-control[data-indeterminate=true] ~ .mdc-checkbox__background .mdc-checkbox__mixedmark {
  transform: scaleX(.7) rotate(0deg) !important;
}

/****************************** EN: Mat-checkbox *************************************************/

/****************************** ST: Mat-chips *************************************************/
.chips {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  //mat-chip color
  .mat-primary, .mat-success, .mat-info, .mat-warning, .mat-danger {
    &.mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label, &.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing, &.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
      color: #fff !important;
    }
  }

  .mat-primary {
    background-color: $primary !important;
  }

  .mat-success {
    background-color: $success !important;
  }

  .mat-info {
    background-color: $info !important;
  }

  .mat-warning {
    background-color: $warning !important;
  }

  .mat-danger {
    background-color: $danger !important;
  }

  input.mat-mdc-chip-input.mat-mdc-input-element.mdc-text-field__input.mat-input-element {
    border: none !important;
    box-shadow: none !important;
  }

  // rounded
  .mdc-evolution-chip-set .mdc-evolution-chip {
    border-radius: 0.25rem;
  }

  &-circle {
    .mdc-evolution-chip-set .mdc-evolution-chip {
      border-radius: 25rem;
    }
  }


  &.form-control.form-control-xs {
    .mdc-evolution-chip-set {
      //min-height: calc(1.5em + 2px) !important;
      min-height: calc(1.5em + 0.2rem + 2px) !important;

      .mdc-evolution-chip {
        height: 18px !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;

        .mdc-evolution-chip__text-label {
          font-size: 0.62rem;
        }
      }
    }

    input {
      min-height: calc(1.5em + 0.2rem + 2px) !important;
      padding: 0.15rem 0.35rem !important;
      font-size: 0.7rem !important;
      border-radius: 0.1rem !important;
    }

  }

  &.form-control.form-control-sm {
    .mdc-evolution-chip-set {
      min-height: calc(1.5em + 0.5rem + 2px);

      .mdc-evolution-chip {
        height: 22px !important;
        margin-top: 4px !important;
        margin-bottom: 4px !important;

        .mdc-evolution-chip__text-label {
          font-size: 0.76rem;
        }
      }
    }

    input {
      min-height: calc(1.5em + 0.5rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.2rem;
    }

  }

  &.form-control .mdc-evolution-chip-set .mdc-evolution-chip {
    height: 28px !important;
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.08);

    .mdc-evolution-chip__text-label {
      font-size: 0.98rem;
      font-size: 0.98rem;
    }
  }
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
  margin: 0 !important;
}

/****************************** EN: Mat-chips *************************************************/

/******************************** ST: Toast Message *******************************************/
#toast-container {
  .toast {
    width: 300px;
    background-position: 21px 18px;
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 15px 15px 15px 80px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  .toast-close-button {
    font-size: 14px;
    font-weight: normal;
  }

  .toast-title {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .toast-message {
    margin-top: 0;
    font-size: 12px;
    padding-right: 0;
    font-family: $default-font;
    color: rgba(255, 255, 255, .9) !important;
    /*font: 12px/1 Menlo,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;*/
  }

  .toast-error {
    background-color: $danger;
    background-image: url('/assets/icons/error_ico.svg');
    color: rgba(255, 255, 255, .9) !important;
  }

  .toast-success:hover {
    background-color: $success;
  }

  .toast-info {
    background-color: $info;
    background-image: url('/assets/icons/info_ico.svg');
    color: rgba(255, 255, 255, .9) !important;
  }

  .toast-success {
    background-color: $success;
    background-image: url('/assets/icons/success_ico.svg');
    color: rgba(255, 255, 255, .9) !important;
  }

  .toast-warning {
    background-color: $warning;
    background-image: url('/assets/icons/warning_ico.svg');
    color: rgba(255, 255, 255, .9) !important;
  }
}

.toast-bottom-full-width,
.toast-bottom-right {
  bottom: 43px;
}

.toast-bottom-full-width {
  .toast-error {
    display: flex;
    background-position: 15px 11px !important;

    .toast-title {
      font-size: 16px !important;
      text-transform: capitalize;
      padding-right: 10px !important;
    }

    .toast-message {
      margin-top: 7px !important;
      font-size: 12px !important;
      padding-right: 0;
      font: 12px/1 Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    }
  }
}

.toast-bootstrap-compatibility-fix {
  opacity: 1;
}

/******************************** EN: Toast Message *******************************************/


/********************************* ST: CDK Context Menu *****************************/

.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
  box-shadow: $box-shadow;

  hr {
    margin: 0;
  }

  &-item {
    background-color: transparent;
    cursor: pointer;
    border: none !important;

    user-select: none;
    min-width: 64px;
    line-height: 30px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    font-size: 12px;
    position: relative;

    .mat-icon {
      position: relative;
      left: -8px;
      color: #888;
    }

    &.cdk-menu-trigger {
      &:after {
        content: '\f0da';
        font-family: FontAwesome;
        display: block;
        position: absolute;
        top: 0;
        right: 5px;
        color: #999;
      }
    }

    &:focus-visible {
      border: none !important;
      border-image-width: 0 !important;
      border-width: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      border: none;
      background-color: $primary;
      color: #FFF;
    }
  }
}


/********************************* EN: CDK Context Menu *****************************/


/********************************* ST: Ace Editor ***********************************/
.ace_editor {
  * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  }
}

/********************************* EN: Ace Editor *******************************************/
/********************************* ST: Table *******************************************/
/*********** ST: RANKING TABLE ************/
.rank-table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 8px;
  height: 100%;
  width: 100%;

  thead {
    th {
      font-weight: bold;
    }
  }

  th {
    text-align: center;
    background-color: #EEE;
    line-height: 25px;
    border-left: 3px solid #FFF;

    &:first-child {
      border-left: none;
    }
  }

  tr {
    td {
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
      border-bottom: 1px solid #f0f0f0;

      &.tx-cn {
        font-size: 12px;
        text-align: center;

        b {
          display: inline-block;
          font-size: 10px;
          border: 1px solid #E1E1E1;
          padding: 0 5px;
          line-height: 16px;
          background-color: #FFF;
        }
      }

      &:last-child {
        border-left: 3px solid #FFF;
      }
    }

    &:nth-child(5) {
      td {
        border-bottom: none;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}

/*********** EN: RANKING TABLE ************/
.board-table { //게시판 테이블
  font-size: 14px;
  table-layout: fixed;
  width: 100%;

  thead {
    border-bottom: 2px solid #333; //$primary-color;
    td {
      background-color: #FFF !important;
    }
  }

  th, td {
    border: none !important;
  }

  tr {
    cursor: pointer;
    border-bottom: 1px solid #dee2e6 !important;
    height: 50px !important;
    line-height: 50px !important;
  }

  tbody:not(.loading-tr) {
    tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, .02);
    }

    tr {
      color: #666;

      &:hover {
        color: #000;
        //text-decoration: underline;
        //background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }

  &-title {
    padding: 0 10px;
    max-width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.board-file { // 게시글 상세조회 파일 이미지
  &-download {
    color: #333;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      opacity: .8;
    }
  }

  &-img {
    width: 15px;
    margin-right: 5px;
  }
}

/********************************* EN: Table *******************************************/
.tx-cn {
  text-align: center;
}


// ag-grid
.ag {
  &-row {
    font-size: $default-font-size !important;
  }

  &-grid-border {
    .ag-root-wrapper {
      border-top: 2px solid $primary;
    }
  }

  &-root-wrapper {
    height: 100%;

    &-body {
      &.ag-layout-normal {
        height: inherit !important;
      }
    }
  }

  &-header-container {
    font-size: $default-font-size !important;
  }

  &-cell {
    /*user-select: text;*/
    em {
      color: $primary;
      background-color: rgba(0, 0, 0, 0.05);
      padding: .2em 0;
      font-weight: bold;
    }

    .btn {
      margin-top: -4px;
    }

    &.rowspan-cell {
      background-color: #FFF;
      border-bottom-color: var(--ag-secondary-border-color, #dde2eb);
    }
  }
}

.ag-theme-alpine .ag-header-cell-resize::after {
  height: 100%;
  top: 0;
  background-color: rgba(186, 191, 199, .5);
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 1px;

  &:hover {
    background-color: rgba(186, 191, 199, 1);
  }
}

.ag-ltr {
  .ag-cell {
    border-right: 1px solid rgba(186, 191, 199, .5);
  }

  .ag-header-viewport .ag-header-cell-resize::after {
    left: calc(50% - 1px);
  }
}


/* ST : Dialog */
.mat-mdc-dialog-container {
  max-width: 100vw;
  max-height: 100vh !important;
  min-width: 300px;
  min-height: 300px;
  resize: both;
  padding: 0 !important;
  border-radius: 3px !important;
  position: relative;
}

.mat-mdc-dialog-content {
  margin: 0 !important;
  max-height: 80vh !important;
  padding: 0 15px !important;
}

.mat-mdc-dialog-title {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  margin: 0 !important;
  line-height: 40px;
  height: 40px;
  padding: 0 40px 0 15px;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  border-radius: 0;
  font-size: 16px;
  border-bottom: 1px solid #DDD;
  text-overflow: ellipsis;
  font-weight: 500;
  //.mat-icon {
  //  color: $primary;
  //}

  .fa {
    vertical-align: middle;
  }

  &.cdk-drag-handle {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.mat-mdc-dialog-actions {
  padding: 10px 0 !important;
  min-height: 0 !important;
  margin: 0 !important;
  justify-content: center !important;
  border-top: 1px solid #CCC !important;

  .btn {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.dialog-close {
  position: absolute !important;
  top: 0;
  right: 0;
  text-align: center;
  color: #666 !important;
  height: 40px !important;
  border-radius: 3px;
  padding: 0 10px !important;
  min-width: 0 !important;

  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    margin: 0 !important;
  }
}

.dialog-btn {
  position: absolute;
  top: 0;
  right: 0;

  .mat-button {
    height: 40px;
    border-radius: 3px;
    padding: 0 10px !important;
    min-width: 0 !important;
    color: #666 !important;

    .mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }
}

/* EN : Dialog */

/**** ST: Analysis table ****/
.mat-mdc-table-sticky {
  background: #eee !important;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-mdc-table-sticky-border-elem-top {
  border-bottom: 2px solid midnightblue;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 2px solid midnightblue;
}

.mat-mdc-table-sticky-border-elem-bottom {
  border-top: 2px solid midnightblue;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 2px solid midnightblue;
}

/**** EN: Analysis table ****/

/*********ST: 데이터 포탈 디렉토리 *********/
.tree-renderer {
  display: flex;
  align-items: center;

  &-item {
    width: 100%;
  }
}

.dp-directory {
  tree-node-wrapper {
    line-height: 100%;
  }

  tree-node-expander {
    order: 0;
    width: 15px;
  }

  tree-node-checkbox {
    padding: 1px 5px;
    order: 1;
  }

  tree-viewport {
    overflow-x: hidden;
  }

  .tree-node-blank-expander {
    display: inline-block;
    width: 13px;
  }

  .tree-item-wrap {
    .tree-input {
      border: none;
      background-color: transparent;

      &:hover {
        border: 1px solid #ced4da;
      }

      &:focus {
        border: 1px solid $primary;
        background-color: #FFF;
      }
    }
  }

  .tree-children {
    position: relative;

    tree-node > div::before {
      content: "" !important;
      position: absolute !important;
      border-bottom: 1px solid #CCC !important;
      width: 12px !important;
      margin-top: -1px !important;
      left: 9px !important;
      height: 16px;
      border-left: 1px solid #CCC;
    }

    tree-node > div::after {
      content: "" !important;
      position: absolute !important;
      width: 1px !important;
      left: 9px !important;
      height: 100%;
      top: -13px;
      border-left: 1px solid #CCC;
    }

    tree-node:last-child > div::after {
      display: none;
    }
  }

  .node-wrapper {
    position: relative;
    align-items: center;
    justify-content: center;

    .toggle-children-wrapper {
      padding: 0 3px;
      display: inline-block;
      cursor: pointer;

      &.toggle-children-wrapper-expanded {
        .toggle-children {
          transform: scale(0.9) rotate(90deg);
          color: #333;
        }
      }
    }

    .toggle-children {
      top: -3px;
    }

    .icon-directory {
      height: 22px;
      width: 22px;
      line-height: 22px;
      text-align: center;
      font-size: 14px;

      .fa,
      .mat-icon {
        color: $primary;
      }

      &:before {
        display: inline-block;
        content: '';
        width: 30px;
        /*border-bottom: 1px dotted #aaaaaa;*/
        position: absolute;
        top: -17px;
        left: 10px;
      }
    }

    .toggle-children {
      font: normal normal normal 14px/1 FontAwesome;
      background: none;
      font-size: 10px;
      transform: scale(0.9);
      color: #999;

      &:before {
        content: "\f054";
      }
    }

    .tree-node-expander {
      width: 13px;
    }

    .node-content-wrapper {
      flex: 1;
      font-size: .75rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      order: 2;

      &:hover,
      &:active,
      &:focus {
        background: rgba($primary, .05);
      }

      &.node-content-wrapper-focused {
        background: $primary;

        span {
          color: #FFF;
        }
      }
    }

    .btn-tree-item {
      display: none;
      padding: 0;
      min-width: 0;
      height: 22px;
      line-height: 100%; //22px;
      width: 22px;
      color: #999;
      order: 2;

      & > * {
        margin: 0;
      }

      .mat-icon {
        margin: 0;
      }

      &:hover {
        color: #333;
      }
    }

    &:hover {
      .btn-tree-item {
        display: block;
      }
    }

    .node-content-wrapper {
      .form-control {
        height: 22px;
        padding: 0.1rem 0.3rem;
        margin: -2px -5px;
        width: calc(100% + 10px);
      }

      &.active {
        background-color: $primary;
        color: #ffffff;
      }
    }

  }

  .node-content-wrapper-active,
  .node-content-wrapper-active.node-content-wrapper-focused {
    background-color: #EEE;
  }

  .node-wrapper {
    .toggle-children {
      top: -1px;
    }

    .icon-directory {
      height: 22px;
      width: 22px;
      line-height: 22px;
      text-align: center;

      .mat-icon {
        color: $primary;
      }
    }

    .node-content-wrapper {
      flex: 1;
      font-size: .75rem;
      overflow: hidden;
      line-height: 20px;
    }

    .node-content-wrapper {
      .form-control {
        height: 22px;
        padding: 0.1rem 0.3rem;
        margin: -2px -5px;
        width: calc(100% + 10px);
      }
    }

  }

  .node-content-wrapper-active,
  .node-content-wrapper-active.node-content-wrapper-focused {
    background-color: $primary;

    span {
      color: #FFF;
    }

    &:hover {
      background-color: $primary !important;

      span {
        color: #FFF;
      }
    }
  }

  .toggle-children {
    background: none;

    &:before {
      content: '\f054';
      color: #666;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 11px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.dp-recommend-tree {
    .node-wrapper .node-content-wrapper:hover,
    .node-wrapper .node-content-wrapper:focus,
    .node-wrapper .node-content-wrapper:active,
    .node-content-wrapper-active,
    .node-content-wrapper-active.node-content-wrapper-focused,
    .node-wrapper .node-content-wrapper.node-content-wrapper-focused,
    .node-wrapper .node-content-wrapper:hover,
    .node-wrapper .node-content-wrapper:active,
    .node-wrapper .node-content-wrapper:focus {
      background: transparent !important;
      box-shadow: none;

      span {
        color: #333;
      }
    }
  }

  &.tree-filter { // 트리 검색(filter)
    tree-viewport {
      overflow: hidden;
    }
  }
}

/*********ST: 데이터 포탈 디렉토리 *********/

/**** ST : 담당자 트리 선택 ***/
.tree-select-filter {
  position: relative;

  .toggle-children-wrapper {
    margin-top: 3px !important;
  }

  .expand-icon {
    height: 6px;
    width: 6px;
    top: 50%;
    position: absolute;
    right: 10px;
    border-width: 0;
    border-color: #999;
    border-top: 2px solid #999;
    border-right: 2px solid #999;

    &.expand-more {
      transform: translateY(-50%) rotate(135deg);
    }

    &.expand-less {
      border-color: rgba(51, 51, 51);
      transform: translateY(-50%) rotate(314deg);
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    z-index: 1;
  }

  .tree-search {
    padding-left: 25px;
  }

  .tree-item {
    display: inline-block;
    height: 18px;
    cursor: pointer;
    margin-bottom: 0;
  }

  &-wrap {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background: #FFF;
    border: 1px solid #ced4da;
    width: calc(100% - 14.4px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .25);
    margin: 0.45rem;
    //padding: 10px;
    max-height: 200px;
    overflow: auto;
  }

  &-search {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    background-color: #FFF;
    padding: 6px;
    margin-bottom: 0;
  }

  .tree-filter-content {
    .node-wrapper {
      height: 18px !important;
      line-height: 18px !important;
    }
  }

  &-box {
    background-color: #FFF;
    padding: 6px;
  }

  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

/**** EN : 담당자 트리 선택 ***/

/***** ST: Accordion ******/
.faq-accordion-wrap {
  display: flex;
  flex-direction: column;
}

.dp-accordion {
  flex: 1;
  //margin-bottom: 5px;
  position: relative;

  .mat-expansion-panel-body {
    padding: 0 16px 16px 24px;
    background-color: rgba(0, 0, 0, .02) !important;
  }

  &-checkbox {
    width: 24px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 7px;
    z-index: 1;

    &.panelOpen {
      top: 25px;
    }
  }

  &-header {
    //box-shadow: 5px 5px 10px rgba(0,0,0, 0.03) !important;
    border-bottom: 1px solid #ddd !important;

    &-title {
      flex-grow: 0 !important;
    }

    &-desc {
      flex: 1;
    }

    &-btn {
      width: 20px;
    }
  }

  &-answer {
    display: flex;
    padding: 20px 0;
    position: relative;

    &.loading {
      display: block;
    }

    &-btns {
      color: #999 !important;

      .mat-mdc-icon-button {
        width: 25px !important;
        height: 25px !important;
        padding: 0 !important;
      }

      button {
        color: inherit !important;
      }

      button.delete-btn,
      button.edit-btn {
        font-size: 12px !important;

        &:hover {
          color: #333;
        }
      }
    }
  }

  &-file {
    background-color: transparent !important;
    flex-direction: column;

    .board-file-download {
      font-size: 12px;
    }

    &-title {
      font-size: .75rem !important;
    }
  }

  .faq-icon {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 25px 0 10px;
  }

  .q-mark {
    color: $primary;
  }

  .q-title, .answer-content {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
  }

  .a-mark {
    color: #333;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }
}
/***** EN: Accordion *****/

/**** ST: Card *****/
.card-list {
  display: flex;
  flex-direction: column; // 기본 리스트형
  &-item {
    @include card-item(1px, #CCC, $card-border-radius, 0, auto, #FFF);
    &.sm {
      &>button{
        position: absolute;
        right: -7px;
        top: -10px;
        background-color: #FFF;
        &:hover{
          color: #eee;
          background-color: $gray;
        }
      }
    }
    &-icon {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 120px;
      text-align: center;
      padding: $card-list-padding 0 $card-list-padding $card-list-padding;
      &.sm {
        padding: $card-list-padding-sm 0 $card-list-padding-sm $card-list-padding-sm;
        img {
          height: $card-list-icon-sm;
        }
      }

      img {
        width: auto;
        height: $card-list-icon;
      }

      &-img {
        background: url('https://primefaces.org/cdn/primeng/images/usercard.png') no-repeat center;
        background-size: cover;
        width: 200px;
        position: relative;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: .15;
          background: linear-gradient(to top, #999,  #FFF);
        }
      }

      &-name {
        margin: 0;
        font-weight: bold;
        //&.sm {
        //  margin: 0;
        //}
      }
    }

    &-content {
      flex: 1;
      position: relative;
      padding: $card-list-padding $card-list-padding $card-list-padding $card-list-padding-sm;
      &.sm {
        padding: $card-list-padding-sm $card-list-padding-sm $card-list-padding-sm 0;
        mat-checkbox { margin-left: 0; }
        h5.card-title {
          font-weight: bold;
          small{
            max-width: 100px;
            color: #999;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
            margin-left: 0.2rem;
          }
          & * {
            font-weight: inherit;
          }
        }
      }
      .card-title {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &-desc {
        font-size: 12px;
        max-height: 40px;
        color: #666;
        line-height: 1.5em;
        margin-top: 10px;
        overflow: hidden;
        padding-right: 110px;
        word-break: break-word;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        &.sm {
          margin-top: 5px;
        }
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        &.flex-end {
          justify-content: flex-end;
        }
        &-r {
          .fa {
            margin-right: 3px;
            color: #999;
          }

          span {
            margin-right: 10px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
/**** EN: Card *****/
/**** ST: keyword *****/
.keyword-list {
  display: flex;
  li {
    margin-right: 5px;
    .tag {
      position: relative;
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 20px;
      border: 1px solid #c9c9c9;
      padding: 0 8px 0 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #717171;
      font-size: 11px;
      &:hover{
        color: $primary;
      }

      &::before{
        content: '#';
        position: absolute;
        display: block;
        left: 8px;
        color: #717171;
      }
    }

    &:last-of-type{
      margin-right: 0;
    }
  }
}
/**** EN: keyword *****/

