/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import 'styles-variables';

@import '@angular/material/theming';
@import './themes/default-theme';
@import './themes/dark-theme';

@import 'styles-reset.scss-theme';

.default-theme {
  @include mat.all-component-themes($dtk-theme);
}
.dark-theme {
  @include mat.all-component-themes($dtk-dark-theme);
}

$font-family: $font-family-sans-serif;

//@import 'bootstrap.min.css';
@import 'fonts'; // 모든 폰트

/*
PopoverModule,
PaginationModule,
TimepickerModule,
TooltipModule,
TabsModule,
CollapseModule,
ButtonsModule,
*/

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  font-family: $default-font;
}
html, body {
  height: 100%;
  position: relative;
  --mat-badge-small-size-text-size: 7px;
}
body {
  margin: 0;
  font-family: $default-font;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 600;
}

ul, ol, dl {
  list-style: none;
  margin:0;
  padding:0;
}

p {
  font-size: 12px;
}

button {
  border: none;
  background: transparent;
}

/****************************** ST: Material Style ******************************************/
/* ST: Mat-icon */
.mat-icon {
  vertical-align: middle;
  /* 아이콘 채우기 */
  &.fill {
    font-variation-settings: "FILL" 1;
  }

  /* 아이콘 사이즈 md-${size} */
  @each $size in 12, 14, 16, 18, 20, 22, 24, 28, 32, 36, 42, 48, 72 {
    &.md-#{$size} {
      font-size: $size + px !important;
      width: $size + px !important;
      height: $size + px !important;
      line-height: $size + px !important;
    }
    /* 아이콘 두께 md-wt-${size} */
    @each $weight in 100, 200, 300, 400, 500, 600, 700 {
      &.wt-#{$weight} {
        font-weight: $weight !important;
      }
    }
  }
}
/* EN: Mat-icon */
/* ST: Mat-button */
.mdc-button {
  min-width: 0 !important;
  padding: 0 5px;
}
/* EN: Mat-button*/

/* ST: Mat-Menu-Item */
.mat-mdc-menu-item {
  min-height: 30px !important;
}
/* EN: Mat-Menu-Item */

/****************************** EN: Material Style ******************************************/


/****************************** ST: Breadcrumb *************************************************/
.dtk-breadcrumb {
  height: 35px;

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    li {
      position: relative;

      span {
        font-size: 13px;
      }

      button {
        line-height: 36px;
        padding: 0 15px;
        font-size: .75rem;
        color: #888;
        font-weight: 200;
        cursor: pointer;
        &:hover {
          color: #333;
        }
      }
      /*&:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: rgba(230,230,230,.8);
        position: absolute;
        top: 0;
        right: 0;
      }*/
      + li {
        &:before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          left: -3px;
          top: 50%;
          border-top: 2px solid #BBB;
          border-right: 2px solid #BBB;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      &:first-child {
        button {
          padding: 0 15px 0 0;
        }
      }

      &:last-child {
        color: #555;
        font-weight: 600;

        &:after {
          height: 0;
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }

      &.active {
        &:before {
          top: 50%;
          border-top: 2px solid #888;
          border-right: 2px solid #888;
          transform: translateY(-50%) rotate(315deg);
        }

        button {
          color: #666;
          font-weight: 400;
        }
      }
    }
  }
}
/****************************** EN: Breadcrumb *************************************************/
