// @import '@angular/material/theming';


$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-light: #EFEFEF;
//$primary: #183D85;
//$secondary: #AAAAAA;


$primary: $pink; //#007bff;
$secondary: #6d6e71;
$success: #28a745;
$info: #007bff;
$warning: #e1ac00;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #5A5A5A;

$colors-palette: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray,
  gray-dark: $gray-dark,
  gray-light: $gray-light,
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);

$font-family-sans-serif: 'Noto Sans KR', 'Roboto', 'Helvetica', 'Dotum', '돋움', 'AppleSDGothicNeo', sans-serif;
$code-font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
$toolbar-breakpoint: 600px;

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$success-colors: $success;
$warning-colors: $warning;

$default-font: $font-family-sans-serif;
$default-font-size: 12px;

$header-height: 70px;
// mixin Background
@mixin bg($url, $type: png, $repeat: no-repeat, $pos: center, $color: transparent) {
  background: url("/assets/images/#{$url}.#{$type}") $repeat $pos $color;
}


$white: #fff;
$black: #000;
$light-gray: #D1D1D6;
$gray: #545454;

$footer-bg-color: #fff;
$header-bg: #FFF;
$header-height: 70px;
$box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
$box-shadow-hover: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12);
$box-shadow-card-list-hover: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
$input-icon-color: rgba(0, 0, 0, 0.5);

// Bootstrap Style 재정의
$font-size-base: 0.75rem !default; // Default Font Size
$font-size-xs: $font-size-base * .75 !default; //xs 사이즈 새로 정의
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-xl: $font-size-base * 1.4 !default; //xl 사이즈 새로 정의

$border-radius: .15rem !default; // Default Border Radius
$border-radius-xs: $border-radius * .5 !default;
$border-radius-sm: $border-radius * .7 !default;
$border-radius-lg: $border-radius * 1.2 !default;
$border-radius-xl: $border-radius * 1.6 !default;
$border-radius-left: $border-radius 0 0 $border-radius;
$border-radius-right: 0 $border-radius $border-radius 0;

$border-radius-round: 1.2rem !default; // Default Border Radius

// Radio, Checkbox 박스 크기
$input-icon:          16px;
$input-icon-xs:       10px;
$input-icon-sm:       12px;
$input-icon-lg:       19px;
$input-icon-xl:       22px;

// Material Touch 영역
$input-icon-layer:    26px;
$input-icon-layer-xs: 20px;
$input-icon-layer-sm: 20px;
$input-icon-layer-lg: 30px;
$input-icon-layer-xl: 36px;

// Disabled, ReadOnly BG
$input-disabled-bg: #F9FcFf;

$input-btn-padding-y-xs: .15rem !default;
$input-btn-padding-x-xs: .3rem !default; //
$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default; //
$input-btn-padding-y: .375rem !default;
$input-btn-padding-x: .7rem !default; //
$input-btn-padding-y-lg: .4rem !default;
$input-btn-padding-x-lg: .8rem !default; //
$input-btn-padding-y-xl: .75rem !default;
$input-btn-padding-x-xl: 1.2rem !default; //

$input-label-padding-xs: $input-btn-padding-y-xs * .5;
$input-label-padding-sm: $input-btn-padding-y-sm * .5;
$input-label-padding: $input-btn-padding-y * .5;
$input-label-padding-lg: $input-btn-padding-y-lg * .5;

$input-icon-padding-xs: $font-size-xs + 0.16rem*3;
$input-icon-padding-sm: $font-size-sm + 0.3rem*3;
$input-icon-padding: $font-size-base + 0.35rem*3;
$input-icon-padding-lg: $font-size-lg + 0.42rem*3;

//$input-line-height:           $line-height-base !default;
$line-height-base: 1.5 !default;
$line-height-xs: 1.0 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;
$line-height-xl: 2.5 !default;

$border-width: 1px !default;
$input-height-border: $border-width * 2 !default;

// form-control-xs
$input-height-xs: add($line-height-base * 1em, add($input-btn-padding-y-xs * 2, $input-height-border, false)) !default;


$btn-padding: .5rem !default; // 기본 icon btn padding
$btn-padding-xl: $btn-padding * 1.5;
$btn-padding-lg: $btn-padding * 1.2;
$btn-padding-sm: $btn-padding * .8;
$btn-padding-xs: $btn-padding * .7;
$input-btn-focus-width: .12rem !default;
$btn-mat-width: 40px !default; // mat-icon-button 기본 너비
$btn-mat-width-lg: 48px !default; // mat-icon-button 기본 너비


// btn-labeld 버튼 | btn-split 시 icon 위치
$button-label:    -12px;
$button-label-xs: -6px;
$button-label-sm: -9px;
$button-label-lg: -15px;
$button-label-xl: -20px;

$btn-divider-color: rgba(0,0,0,.1);

// 버튼 사이즈
$button-size: (
  //1: padding-y, 2: padding-x, 3: font-size, 4: border-radius, 5: icon 위치, 6: padding
  xl: $input-btn-padding-y-xl $input-btn-padding-x-xl $font-size-xl $border-radius-xl $button-label-xl $btn-padding-xl,
  lg: $input-btn-padding-y-lg $input-btn-padding-x-lg $font-size-lg $border-radius-lg $button-label-lg $btn-padding-lg,
  sm: $input-btn-padding-y-sm $input-btn-padding-x-sm $font-size-sm $border-radius-sm $button-label-sm $btn-padding-sm,
  xs: $input-btn-padding-y-xs $input-btn-padding-x-xs $font-size-xs $border-radius-xs $button-label-xs $btn-padding-xs,
);


// icon only button style
@mixin btn-icon($padding) {
  padding: $padding !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}

// Alert Message
$alert-padding-y: .5rem; //    $spacer; <-- 1rem
$alert-padding-x: 1rem; //    $spacer;<-- 1rem
$alert-margin-bottom: 1rem;
//$alert-border-radius:           $border-radius;
//$alert-link-font-weight:        $font-weight-bold;
//$alert-border-width:            $border-width;
//$alert-bg-scale:                -80%;
//$alert-border-scale:            -70%;
//$alert-color-scale:             40%;
//$alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side

$input-focus-width: $input-btn-focus-width !default;
$input-focus-shadow-color: rgba($primary, .25) !default;
$input-focus-border-color: rgba($primary, .5) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-width $input-focus-shadow-color !default;

$btn-primary-color: #FFF !default;
$btn-font-family: $font-family-sans-serif; //'Noto Sans KR', 'Roboto', 'Helvetica', 'Dotum', '돋움', 'AppleSDGothicNeo', sans-serif;
//$btn-font-size: .75rem !default;

//$btn-sm-font-size: 11.5px; // TODO 지울것들


$btn-padding-y: .375rem !default;
$btn-padding-x: .75rem !default;

//$line-height-base: 1.5 !default;
$btn-line-height: $line-height-base !default;

//$btn-padding-y-lg: $input-btn-padding-y-lg;
//$btn-padding-x-lg: 1rem;

//$btn-padding-sm: .25rem;

//$btn-padding-y-sm: $input-btn-padding-y-sm;
//$btn-padding-x-sm: $input-btn-padding-x-sm;

$btn-padding-y-xs: 2px;
$btn-padding-x-xs: .35rem;

$btn-padding-y-xl: $input-btn-padding-y-xl;
$btn-padding-x-xl: $input-btn-padding-x-xl;


$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125);
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-raised-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$table-striped-bg-factor: .02 !default;


//$card-spacer-y
//
//$card-cap-padding-y: $card-spacer-y * .5;
//$card-cap-padding-x: $card-spacer-x;
$card-list-padding: 15px;
$card-list-padding-sm: 7px;
$card-list-icon: 65px;
$card-list-icon-sm: 45px;
$card-cap-bg: $white !default;
$card-inner-border-radius: $border-radius !default;

// mixin card-item
@mixin card-item($border-width:1px, $border-color:#CCC, $border-radius, $margin-right, $width, $bg-color) {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  margin-right: $margin-right;
  margin-bottom: 8px;
  background: $bg-color;
  transition: box-shadow .2s;
  position: relative;
  width: $width;
  &:hover {
    box-shadow: $box-shadow-card-list-hover;
  }
}

$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 16px;

$mat-btn-icon-sm: 20px;
$mat-btn-icon-xs: 16px;


//$btn-border-width:            $input-btn-border-width;

//$btn-font-weight:             $font-weight-normal;

//$btn-focus-width:             $input-btn-focus-width;
//$btn-focus-box-shadow:        $input-btn-focus-box-shadow;
//$btn-disabled-opacity:        .65;

