<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basic>Basic</h3>
    <p>기본 checkbox</p>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Magic Input</code>
      <div class="form-group flex">
        <input id="default" type="checkbox" class="mgc" checked/> <label for="default">Default</label>
        <input id="primary" type="checkbox" class="mgc mgc-primary" checked /> <label for="primary">Primary</label>
        <input id="success" type="checkbox" class="mgc mgc-success" checked /> <label for="success">Success</label>
        <input id="info" type="checkbox" class="mgc mgc-info" checked /> <label for="info">Info</label>
        <input id="warning" type="checkbox" class="mgc mgc-warning" checked /> <label for="warning">Warning</label>
        <input id="danger" type="checkbox" class="mgc mgc-danger" checked /> <label for="danger">Danger</label>
      </div>
    </div>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Material</code>
      <div class="form-group flex">
        <mat-checkbox [ngClass]="item.color ? 'mat-checkbox-' + item.color : ''"
                      *ngFor="let item of checkList.sublist"
                      [(ngModel)]="item.checked"
                      (ngModelChange)="updateAllComplete()">
          {{item.name}}
        </mat-checkbox>
      </div>
    </div>

    <h3 #anchor #size>Size</h3>
    <p>사이즈별 checkbox</p>
    <div class="style-guide-example d-flex alignC">
      <div style="flex:1">
        <code>magic input</code>
        <div class="form-group flex" style="align-items: center">
          <input id="x-small-size" type="checkbox" class="mgc mgc-xs mgc-primary" checked />
          <label for="x-small-size">x small</label>
          <input id="small-size" type="checkbox" class="mgc mgc-sm mgc-primary" checked />
          <label for="small-size">small</label>
          <input id="default-size" type="checkbox" class="mgc mgc-primary" checked />
          <label for="default-size">default</label>
          <input id="large-size" type="checkbox" class="mgc mgc-lg mgc-primary" checked />
          <label for="large-size">large</label>
        </div>
      </div>
      <div style="flex: 1">
        <code>material</code>
        <div class="form-group flex">
          <mat-checkbox class="mat-checkbox-xs">X Small</mat-checkbox>
          <mat-checkbox class="mat-checkbox-sm">small</mat-checkbox>
          <mat-checkbox class="mat-checkbox">default</mat-checkbox>
          <mat-checkbox class="mat-checkbox-lg">large</mat-checkbox>
        </div>
      </div>
    </div>

    <h3 #anchor #round>Rounded</h3>
    <p>라운드 checkbox</p>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Magic Input</code>
      <div class="form-group flex">
        <input id="default-r" type="checkbox" class="mgc mgc-circle" checked/> <label for="default-r">Default</label>
        <input id="primary-r" type="checkbox" class="mgc mgc-circle mgc-primary" checked /> <label for="primary-r">Primary</label>
        <input id="success-r" type="checkbox" class="mgc mgc-circle mgc-success" checked /> <label for="success-r">Success</label>
        <input id="info-r" type="checkbox" class="mgc mgc-circle mgc-info" checked /> <label for="info-r">Info</label>
        <input id="warning-r" type="checkbox" class="mgc mgc-circle mgc-warning" checked /> <label for="warning-r">Warning</label>
        <input id="danger-r" type="checkbox" class="mgc mgc-circle mgc-danger" checked /> <label for="danger-r">Danger</label>
      </div>
    </div>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Material</code>
      <mat-checkbox class="mat-checkbox-rounded"
                    *ngFor="let item of checkList.sublist"
                    [(ngModel)]="item.checked"
                    [ngClass]="item.color ? 'mat-checkbox-' + item.color : ''"
                    (ngModelChange)="updateAllComplete()">
        {{item.name}}
      </mat-checkbox>
    </div>

    <h3 #anchor #group>Group</h3>
    <p>전체 선택(해제)이 가능한 group checkbox</p>
    <div class="style-guide-example">
      <code>Material</code>
      <ul class="checkbox-group">
        <li class="select-all">
          <mat-checkbox [checked]="checkList.checked"
                        [ngClass]="checkList.color ? 'mat-checkbox-' + checkList.color : ''"
                        [color]=""
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            {{checkList.name}}
          </mat-checkbox>
        </li>
        <li *ngFor="let item of checkList.sublist">
          <mat-checkbox class="matcheckbox-sm"
                        [(ngModel)]="item.checked"
                        [ngClass]="item.color ? 'mat-checkbox-' + item.color : ''"
                        (ngModelChange)="updateAllComplete()">
            {{item.name}}
          </mat-checkbox>
        </li>
      </ul>
    </div>


    <h3 #anchor #disabled>Disabled State</h3>
    <p>disabled checkbox</p>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Magic Input</code>
      <div class="form-group flex">
        <input type="checkbox" class="mgc mgc-circle" checked [disabled]="true"/> <label>Default</label>
        <input type="checkbox" class="mgc mgc-circle mgc-primary" checked [disabled]="true" /> <label>Primary</label>
        <input type="checkbox" class="mgc mgc-circle mgc-success" checked [disabled]="true" /> <label>Success</label>
        <input type="checkbox" class="mgc mgc-circle mgc-info" checked [disabled]="true" /> <label>Info</label>
        <input type="checkbox" class="mgc mgc-circle mgc-warning" checked [disabled]="true" /> <label>Warning</label>
        <input type="checkbox" class="mgc mgc-circle mgc-danger" checked [disabled]="true" /> <label>Danger</label>
      </div>
    </div>
    <div class="style-guide-example d-flex alignC">
      <code style="width: 70px">Material</code>
      <div class="form-group flex">
        <mat-checkbox class="mat-checkbox-rounded"
                      *ngFor="let item of checkList.sublist"
                      [(ngModel)]="item.checked"
                      [ngClass]="item.color ? 'mat-checkbox-' + item.color : ''"
                      [disabled]="true">
          {{item.name}}
        </mat-checkbox>
      </div>
    </div>

    <h3 #anchor #switch>Switch</h3>
    <p>switch style checkbox</p>
    <div class="style-guide-example d-flex align-center">
      <div style="flex:1">
        <code>magic input</code>
        <div class="form-group d-flex align-center gap-2">
          <input id="x-small-switch" type="checkbox" class="mgc-switch mgc-xs mgc-primary" checked />
          <label for="x-small-switch">x small</label>
          <input id="small-switch" type="checkbox" class="mgc-switch mgc-sm mgc-primary" checked />
          <label for="small-switch">small</label>
          <input id="default-switch" type="checkbox" class="mgc-switch mgc-primary" checked />
          <label for="default-switch">default</label>
          <input id="large-switch" type="checkbox" class="mgc-switch mgc-lg mgc-primary" checked />
          <label for="large-switch">large</label>
        </div>
      </div>
      <div style="flex: 1">
        <code>material</code>

        <div class="form-group d-flex align-center gap-2">
          <mat-slide-toggle class="mat-slide-toggle-xs mat-slide-primary">x small</mat-slide-toggle>
          <mat-slide-toggle class="mat-slide-toggle-sm mat-slide-primary">small</mat-slide-toggle>
          <mat-slide-toggle class="mat-slide-toggle mat-slide-primary">default</mat-slide-toggle>
          <mat-slide-toggle class="mat-slide-toggle-lg mat-slide-primary">large</mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>

  <aside-menu-right [menu]="checkboxMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
