<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basic>Basic</h3>
    <p>기본 입력용 input</p>
    <div class="style-guide-example">
      <div class="form-group">
        <label for="input-basic">Basic Input</label>
        <input id="input-basic" class="form-control" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
      <div class="form-group">
        <label for="input-basic-disalbed">Basic Input Disabled</label>
        <input id="input-basic-disalbed" class="form-control" [disabled]="true" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
      <div class="form-group">
        <label for="input-basic-readonly">Basic Input Readonly</label>
        <input id="input-basic-readonly" class="form-control" [readonly]="true" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
    </div>
    <div class="style-guide-example">
      <div class="form-group d-flex">
        <label for="input-basic">Basic Input</label>
        <input id="input-basic" class="form-control" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
      <div class="form-group">
        <label for="input-basic-disalbed">Basic Input Disabled</label>
        <input id="input-basic-disalbed" class="form-control" [disabled]="true" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
      <div class="form-group">
        <label for="input-basic-readonly">Basic Input Readonly</label>
        <input id="input-basic-readonly" class="form-control" [readonly]="true" [placeholder]="'placeholder.keyword_placeholder' | translate">
      </div>
    </div>

    <h3 #anchor #size>Size</h3>
    <p>크기 별 input</p>
    <div class="style-guide-example">
      <div class="form-group d-flex">
        <label for="input-xs" class="min-50">XSmall</label>
        <input id="input-xs" class="form-control form-control-xs" placeholder="form-control-xs">
        <button type="button" class="btn btn-primary btn-xs">XSmall</button>
      </div>
      <div class="form-group d-flex">
        <label for="input-sm" class="min-50">Small</label>
        <input id="input-sm" class="form-control form-control-sm" placeholder="form-control-sm">
        <button type="button" class="btn btn-primary btn-sm">Small</button>
      </div>
      <div class="form-group d-flex">
        <label for="input-default" class="min-50">Default</label>
        <input id="input-default" class="form-control" placeholder="form-control">
        <button type="button" class="btn btn-primary">Default</button>
      </div>
      <div class="form-group d-flex">
        <label for="input-large" class="min-50">Large</label>
        <input id="input-large" class="form-control form-control-lg" placeholder="form-control-lg">
        <button type="button" class="btn btn-primary btn-lg">Large</button>
      </div>
    </div>

    <h3 #anchor #clear>Clearable</h3>
    <p>입력받은 keyword가 있을 경우 클리어가 가능한 input<br>
      <code><b>[group 순서]</b>
        div.form-group > input.form-control + span.clear-btn
      </code>
    </p>
    <div class="msg info">clear-btn과 input을 반드시 form-group으로 묶어야 함</div>
    <div class="style-guide-example d-flex col-center">
      <div class="form-group">
        <input id="input-clear-xs" class="form-control form-control-xs" [(ngModel)]="clearable[0]">
        <span class="clear-btn"
              *ngIf="clearable[0].trim() !== ''"
              (click)="clearable[0] = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
      </div>
      <div class="form-group">
        <input id="input-clear-sm" class="form-control form-control-sm" [(ngModel)]="clearable[1]">
        <span class="clear-btn"
              *ngIf="clearable[1].trim() !== ''"
              (click)="clearable[1] = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
      </div>
      <div class="form-group">
        <input id="input-clear-default" class="form-control" [(ngModel)]="clearable[2]">
        <span class="clear-btn"
              *ngIf="clearable[2].trim() !== ''"
              (click)="clearable[2] = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
      </div>
      <div class="form-group">
        <input id="input-clear-lg" class="form-control form-control-lg" [(ngModel)]="clearable[3]">
        <span class="clear-btn"
              *ngIf="clearable[3].trim() !== ''"
              (click)="clearable[3] = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
      </div>
    </div>

    <h3 #anchor #validation>Validation</h3>
    <p>필수 입력 input validation check<br>
      <code><b>[group 순서]</b>
        div.form-group > input.form-control + span.valid-feedback(invalid-feedback)
      </code>
    </p>
    <div class="msg info">'success'입력 시 is-valid 클래스 추가 (clear-btn 조건과 valid 조건이 충돌하지 않게 주의)</div>
    <div class="style-guide-example d-flex col-center">
      <div class="form-group">
        <label class="required">Xsmall</label>
        <input class="form-control form-control-xs" placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': valid == 'success'}"
               [(ngModel)]="valid">
        <span class="clear-btn"
              *ngIf="valid !== 'success' && valid !== ''"
              (click)="valid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="valid == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      <div class="form-group">
        <label class="required">small</label>
        <input class="form-control form-control-sm" placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': valid == 'success'}"
               [(ngModel)]="valid">
        <span class="clear-btn"
              *ngIf="valid !== 'success' && valid !== ''"
              (click)="valid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="valid == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      <div class="form-group">
        <label class="required">Default</label>
        <input class="form-control" placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': valid == 'success'}"
               [(ngModel)]="valid">
        <span class="clear-btn"
              *ngIf="valid !== 'success' && valid !== ''"
              (click)="valid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="valid == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      <div class="form-group">
        <label class="required">Large</label>
        <input class="form-control form-control-lg" placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': valid == 'success'}"
               [(ngModel)]="valid">
        <span class="clear-btn"
              *ngIf="valid !== 'success' && valid !== ''"
              (click)="valid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="valid == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
    </div>

    <div class="msg info">입력 없을 시 is-invalid 클래스 추가</div>
    <div class="style-guide-example d-flex col-center">
      <div class="form-group">
        <label class="required">Xsmall</label>
        <input class="form-control form-control-xs" placeholder="키워드 입력 시 사라짐"
               [ngClass]="{'is-invalid': invalid == ''}"
               [(ngModel)]="invalid">
        <span class="clear-btn"
              *ngIf="invalid !== ''"
              (click)="invalid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="invalid-feedback"
              [style.display]="invalid == '' ? 'block': 'none'">필수 입력입니다</span>
      </div>
      <div class="form-group">
        <label class="required">Small</label>
        <input class="form-control form-control-sm" placeholder="키워드 입력 시 사라짐"
               [ngClass]="{'is-invalid': invalid == ''}"
               [(ngModel)]="invalid">
        <span class="clear-btn"
              *ngIf="invalid !== ''"
              (click)="invalid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="invalid-feedback"
              [style.display]="invalid == '' ? 'block': 'none'">필수 입력입니다</span>
      </div>
      <div class="form-group">
        <label class="required">Default</label>
        <input class="form-control" placeholder="키워드 입력 시 사라짐"
               [ngClass]="{'is-invalid': invalid == ''}"
               [(ngModel)]="invalid">
        <span class="clear-btn"
              *ngIf="invalid !== ''"
              (click)="invalid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="invalid-feedback"
              [style.display]="invalid == '' ? 'block': 'none'">필수 입력입니다</span>
      </div>
      <div class="form-group">
        <label class="required">Large</label>
        <input class="form-control form-control-lg" placeholder="키워드 입력 시 사라짐"
               [ngClass]="{'is-invalid': invalid == ''}"
               [(ngModel)]="invalid">
        <span class="clear-btn"
              *ngIf="invalid !== ''"
              (click)="invalid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="invalid-feedback"
              [style.display]="invalid == '' ? 'block': 'none'">필수 입력입니다</span>
      </div>
    </div>

    <h3 #anchor #group>Group</h3>
    <p>다수의 input group</p>
    <div class="style-guide-example">
      <div class="form-group" style="margin-bottom: 20px">
        <div class="form-set">
          <label>label1</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <div class="form-set">
          <label>label2</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <div class="form-set">
          <label>label3</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <button type="button" class="btn btn-sm btn-primary btn-block">Default</button>
      </div>

      <div class="form-group" style="margin-bottom: 20px">
        <div class="form-set flex">
          <label>label1</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <div class="form-set flex">
          <label>label2</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <div class="form-set flex">
          <label>label3</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <button type="button" class="btn btn-sm btn-primary btn-block">Default</button>
      </div>

      <div class="form-group flex" style="margin-bottom: 20px">
        <div class="form-set">
          <label>label1</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>

        <div class="form-set" *ngFor="let i of [2,3,4,5,6,7,8]"> <!--반복용-->
          <label>label{{i}}</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <button type="button" class="btn btn-sm btn-primary">Default</button>
      </div>

      <div class="form-group flex">
        <div class="form-set flex">
          <label>label1</label>
          <input class="form-control form-control-sm" placeholder="input">
        </div>
        <div class="form-set flex" *ngFor="let i of [2,2,1,1,1,3]"> <!--반복용-->
          <label>label{{i}}</label>
          <input class="form-control form-control-sm" placeholder="input" [style.width]="i*100 + 'px'">

        </div>
        <button type="button" class="btn btn-sm btn-primary">Default</button>
      </div>

    </div>

  </div>
  <aside-menu-right [menu]="inputMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
