<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basic>Basic</h3>
    <p>기본 입력용 input. 가로로 정렬할 경우 클래스에 'flex' 추가 <br>
    간격 조정은 mb-1, me-2 등으로 조절</p>
    <div class="style-guide-example">
      <div class="form-group mb-1">
        <label for="input-basic">Basic Input</label>
        <input id="input-basic" class="form-control"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
      <div class="form-group mb-1">
        <label for="input-basic-disalbed">Basic Input Disabled</label>
        <input id="input-basic-disalbed" class="form-control"
               [disabled]="true"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
      <div class="form-group">
        <label for="input-basic-readonly">Basic Input Readonly</label>
        <input id="input-basic-readonly" class="form-control"
               [readonly]="true"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
    </div>
    <div class="style-guide-example">
      <div class="form-group flex mb-1">
        <label for="input-basic" class="wd-150">Basic Input Flex</label>
        <input id="input-basic" class="form-control"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
      <div class="form-group flex mb-1">
        <label for="input-basic-disalbed" class="wd-150">Basic Input Flex Disabled</label>
        <input id="input-basic-disalbed" class="form-control"
               [disabled]="true"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
      <div class="form-group flex">
        <label for="input-basic-readonly" class="wd-150">Basic Input Flex Readonly</label>
        <input id="input-basic-readonly" class="form-control"
               [readonly]="true"
               [placeholder]="'placeholder.keyword_placeholder' | translate"
               [(ngModel)]="keyword">
      </div>
    </div>

    <h3 #anchor #size>Size</h3>
    <p>form-group으로 묶으면 label에 클래스를 주지 않아도, form-control의 크기에 따라 사이즈 자동 변환</p>
    <code><b>[group 순서]</b>
      div.form-group > label + input.form-control
    </code>
    <div class="msg info">label과 input을 반드시 form-group으로 묶어야 함</div>
    <div class="msg warning">label의 width 지정시 wd-N클래스 추가 (10단위 px)</div>
    <div class="style-guide-example">
      <div class="form-group flex mb-2" *ngFor="let size of sizeList">
        <label class="wd-50 me-2" [title]="size.label+'labelxxxXXX'">{{size.label}} labelxxxXXX</label>
        <input class="form-control"
               [ngClass]="size.class"
               [placeholder]="size.class || 'form-control-default'"
               [(ngModel)]="keyword">
        <button type="button" class="btn btn-primary ms-1"
                [ngClass]="size.buttonClass">
          {{size.label}}
        </button>
      </div>
      <!--복붙용
        <div class="form-group flex">
          <label class="min-50">Label</label>
          <input class="form-control form-control-sm"
                 placeholder="입력해주세요.">
          <button type="button" class="btn btn-primary btn-sm">Button</button>
        </div>
      -->
    </div>

    <h3 #anchor #clear>Clearable</h3>
    <p>입력받은 keyword가 있을 경우 클리어가 가능한 input<br>
      div.form-group으로 묶으면 안에 있는 form-control의 size에 따라 clear-btn 사이즈 자동 변환<br>
      <code><b>[group 순서]</b>
        div.form-group > input.form-control + span.clear-btn
      </code>
    </p>
    <div class="msg info">clear-btn과 input을 반드시 form-group으로 묶어야 함</div>
    <div class="style-guide-example">
      <div class="form-grid flex">
        <div class="form-group flex me-1" *ngFor="let size of sizeList; let i = index">
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="size.class || 'form-control-default'"
                 [(ngModel)]="clearable[i]">
          <span class="clear-btn"
                *ngIf="clearable[i].trim() !== ''"
                (click)="clearable[i] = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
        </div>
      </div>
      <!--복붙용
      <div class="form-group">
        <input class="form-control form-control-sm"
               placeholder="입력해주세요.
               [(ngModel)]="keyword">
        <span class="clear-btn"
              *ngIf="keyword.trim() !== ''"
              (click)="keyword = ''">
          <mat-icon class="mat-icon">close</mat-icon>
        </span>
      </div>
      -->
    </div>

    <h3 #anchor #validation>Validation</h3>
    <p>필수 입력 input validation check<br>
      div.form-group으로 묶으면 안에 있는 form-control의 size에 따라 valid-feedback 사이즈 자동 변환<br>
      <code><b>[group 순서]</b>
        div.form-group > input.form-control + span.valid-feedback(invalid-feedback)
      </code>
    </p>
    <div class="msg info">'success'입력 시 is-valid 클래스 추가 (clear-btn 조건과 valid 조건이 충돌하지 않게 주의)</div>
    <div class="msg warning">form-group.flex 일 경우, valid-feedback(invalid-feedback)에 padding-left를 추가하기 위해 <b>'pl-N' ( 2~80 짝수)</b> 클래스 추가<br>
    pl-N은 label의 wd-(x)값에 따라 적당히 (x) + margin값으로 계산</div>
    <div class="style-guide-example">
      <div class="form-group flex mb-1" *ngFor="let size of sizeList; let i = index">
        <label class="required wd-50 me-2">{{size.label}}</label>
        <input class="form-control"
               placeholder="success 입력 시 valid"
               [className]="size.class"
               [ngClass]="{'is-valid': valid == 'success'}"
               [(ngModel)]="valid">
        <span class="clear-btn"
              *ngIf="valid !== 'success' && valid !== ''"
              (click)="valid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback pl-58"
              [style.display]="valid == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      <!--복붙용
      <div class="form-group">
        <label class="required">Label</label>
        <input class="form-control form-control-sm"
               placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': keyword == 'success'}"
               [(ngModel)]="keyword">
        <span class="clear-btn"
              *ngIf="keyword !== 'success' && keyword !== ''"
              (click)="keyword = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="keyword == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      -->
    </div>

    <div class="msg info">입력 없을 시 is-invalid 클래스 추가</div>
    <div class="style-guide-example">
      <div class="form-grid">
        <div class="form-group me-1" *ngFor="let size of sizeList; let i = index">
          <label class="required">{{size.label}}</label>
          <input class="form-control"
                 placeholder="키워드 입력 시 사라짐"
                 [className]="size.class"
                 [ngClass]="{'is-invalid': invalid == ''}"
                 [(ngModel)]="invalid">
          <span class="clear-btn"
                *ngIf="invalid !== 'success' && invalid !== ''"
                (click)="invalid = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
          <span class="invalid-feedback"
                [style.display]="invalid == '' ? 'block': 'none'">필수 입력</span>
        </div>
      </div>
      <!--복붙용
      <div class="form-group">
        <label class="required">Label</label>
        <input class="form-control form-control-sm"
               placeholder="success 입력 시 valid"
               [ngClass]="{'is-valid': keyword == 'success'}"
               [(ngModel)]="keyword">
        <span class="clear-btn"
              *ngIf="keyword !== 'success' && keyword !== ''"
              (click)="keyword = ''">
          <mat-icon class="mat-icon">close</mat-icon>
          </span>
        <span class="valid-feedback"
              [style.display]="keyword == 'success' ? 'block': 'none'">검증 완료</span>
      </div>
      -->
    </div>

    <h3 #anchor #group>Group</h3>
    <p>다수의 input group의 layout</p>
    <div class="msg info">margin-bottom 추가 시 클래스에 mb-1, mb-2, mb-3 추가</div>
    <div class="style-guide-example">
      <div class="form-group mb-1">
        <label>label1</label>
        <input class="form-control form-control-sm" placeholder="[mb-1] margin-bottom: 0.25rem !important">
      </div>
      <div class="form-group mb-1">
        <label>label2</label>
        <input class="form-control form-control-sm" placeholder="[mb-1] margin-bottom: 0.25rem !important">
      </div>
      <div class="form-group mb-3">
        <label>label3</label>
        <input class="form-control form-control-sm" placeholder="[mb-3] margin-bottom: 1rem !important">
      </div>
      <button type="button" class="btn btn-sm btn-primary btn-block">Default</button>
    </div>

    <div class="msg info">label과 input을 가로로 정렬 시 div.form-group에 flex 클래스 추가</div>
    <div class="style-guide-example">
      <div class="form-group flex mb-2">
        <label class="wd-50 me-1">label1</label>
        <input class="form-control form-control-sm" placeholder="[mb-2] margin-bottom: 0.5rem !important">
      </div>
      <div class="form-group flex mb-2">
        <label class="wd-50 me-1">label2</label>
        <input class="form-control form-control-sm" placeholder="[mb-2] margin-bottom: 0.5rem !important">
      </div>
      <div class="form-group flex mb-3">
        <label class="wd-50 me-1">label3</label>
        <input class="form-control form-control-sm" placeholder="[mb-3] margin-bottom: 1rem !important">
      </div>
      <button type="button" class="btn btn-sm btn-primary btn-block">Default</button>
    </div>

    <div class="msg info">form-group을 가로로 정렬 시 div.form-grid로 묶기</div>
    <div class="style-guide-example">
      <div class="form-grid mb-3" *ngFor="let size of sizeList">
        <div class="form-group me-2" style="flex: 1;">
          <label>label1</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="size.label">
        </div>
        <div class="form-group me-2"  style="flex: 1;" *ngFor="let i of [2,3,4,5,6]"> <!--반복용-->
          <label>label{{i}}</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="size.label">
        </div>
        <button type="button" class="btn btn-primary" [ngClass]="size.buttonClass">{{size.label}}</button>
      </div>
    </div>

    <div class="msg info">form-group.flex를 가로로 정렬 시 div.form-grid로 묶기</div>
    <div class="msg info">form-grid에서 각 form-group의 가로 사이즈 설정 시 div.form-group에 col-md-N(12,6,4,3,2,1) 클래스를 추가<br>
      * md뒤 숫자 N은 width: N/12를 뜻함</div>
    <div class="style-guide-example">
      <div class="form-grid mb-3" *ngFor="let size of sizeList">
        <div class="form-group flex col-md-12 mb-1">
          <label class="wd-60 me-1 px-2s">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-12 (100%)'">
        </div>
        <div class="form-group flex col-md-6 mb-1">
          <label class="wd-60 me-1 px-2">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-6 (50%)'">
        </div>
        <div class="form-group flex col-md-4 mb-1">
          <label class="wd-60 me-1 px-2">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-4 (33.33%)'">
        </div>
        <div class="form-group flex col-md-2 mb-1">
          <label class="wd-60 me-1 px-2">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-2 (16.66%)'">
        </div>
        <div class="form-group flex col-md-3 mb-1">
          <label class="wd-60 me-1 px-2">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-3 (25%)'">
        </div>
        <div class="form-group flex col-md-1 mb-1">
          <label class="wd-60 me-1 px-2">label</label>
          <input class="form-control"
                 [ngClass]="size.class"
                 [placeholder]="'col-md-1 (8.33%)'">
        </div>
        <button type="button" class="btn btn-primary btn-block" [ngClass]="size.buttonClass">{{size.label}}</button>
      </div>
    </div>

  </div>
  <aside-menu-right [menu]="inputMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
