<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <h3 #anchor #basic>Basic Select</h3>
    <p>기본 셀렉트박스를 사용할 때에는 반드시
      <span class="highlight-pink">ng-select</span>와
      <span class="highlight-pink">ng-selct-base</span>(사이즈) 클래스를 모두 추가해야함</p>
    <div class="msg info">옵션 검색 가능</div>
    <div class="style-guide-example d-flex gap-3">
      <div class="form-group flex-1">
        <ng-select class="ng-select ng-select-base"
                   placeholder="검색 가능"
                   [items]="defaultBindingsList"
                   [(ngModel)]="selectedCity">
        </ng-select>
        <code>Selected city object: {{selectedCity | json}}</code>
      </div>
      <div class="form-group flex-1">
        <ng-select class="ng-select ng-select-base"
                   placeholder="검색 불가능"
                   [items]="defaultBindingsList"
                   [searchable]="false"
                   bindLabel="label"
                   bindValue="value"
                   [(ngModel)]="selectedCity2">
        </ng-select>
        <code>Selected city object (Bind Value): {{selectedCity2 | json}}</code>
      </div>
    </div>

    <h3 #anchor #size>Size</h3>
    <p>크기 별 select</p>
    <div class="style-guide-example d-flex flex-column gap-2">
      <div class="form-group d-flex align-center gap-1" *ngFor="let item of sizeList">
        <label class="wd-70" [ngClass]="'font-'+item.class">{{item.label}}</label>
        <input class="flex-1 form-control"
               [ngClass]="item.class !== '' ? 'form-control-' + item.class : ''"
               [ngModel]="selectedCity? selectedCity.label : ''"
               [placeholder]="item.label">
        <ng-select class="flex-1 ng-select"
                   [ngClass]="'ng-select-' + item.class"
                   [placeholder]="'ng-select + ' + 'ng-select-' + item.class"
                   [items]="defaultBindingsList"
                   [(ngModel)]="selectedCity">
        </ng-select>
      </div>
    </div>

    <h3 #anchor #multiple>Multiple Select</h3>
    <p>멀티 셀렉트</p>
    <div class="msg info">[ngClass]로 ng-select-xs 추가 시 dropdown에 커스텀 클래스가 붙지 않으므로 반드시 ng-select의 class에 사이즈 클래스를 바로 추가해야함 (주석 참고)</div>
    <div class="style-guide-example d-flex flex-column gap-2">
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Xsmall</label>
        <div class="mat-chips mat-chips-xs flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-xs"
                   [placeholder]="'ng-select-xs'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
             {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
<!--          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$"-->
<!--                       *ngIf="people.length === selectedPeople.length">-->
<!--              전체-->
<!--          </ng-template>-->
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Small</label>
        <div class="mat-chips mat-chips-sm flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-sm"
                   [placeholder]="'ng-select-sm'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
<!--          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$"-->
<!--                       *ngIf="people.length === selectedPeople.length">-->
<!--            전체-->
<!--          </ng-template>-->
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Base</label>
        <div class="mat-chips mat-chips-base flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-base"
                   [placeholder]="'ng-select-base'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
<!--          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$"-->
<!--                       *ngIf="people.length === selectedPeople.length">-->
<!--            전체-->
<!--          </ng-template>-->
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Large</label>
        <div class="mat-chips mat-chips-lg flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-lg"
                   [placeholder]="'ng-select-lg'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
<!--          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$"-->
<!--                       *ngIf="people.length === selectedPeople.length">-->
<!--            전체-->
<!--          </ng-template>-->
        </ng-select>
      </div>

      <!-- // 다음과 같이 [ngClass]로 ng-select-xs을 추가하려고 할 경우 dropdown의 커스텀이 불가능함
      <div class="form-group d-flex gap-1" *ngFor="let item of sizeList">
        <ng-select class="flex-1 ng-select dd"
                   [ngClass]="'ng-select-' + item.class"
                   [placeholder]="'ng-select + ' + 'ng-select-' + item.class"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
        </ng-select>
      </div>-->
    </div>

    <h3 #anchor #multipleShort>Multiple Short Label</h3>
    <p>칩 대신 [ Kim 외 3건 / 전체 ] 로 짧게 표시하는 멀티 셀렉트</p>
    <div class="style-guide-example d-flex flex-column gap-2">
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Xsmall</label>
        <div class="mat-chips mat-chips-xs flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-xs"
                   [placeholder]="'ng-select-xs'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>
             {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$">
            <ng-container *ngIf="people.length === selectedPeople.length">
              전체
            </ng-container>
            <ng-container *ngIf="people.length !== selectedPeople.length">
              {{items[0].label}}
              <span *ngIf="items.length > 1">외 {{items.length - 1}}</span>
            </ng-container>
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Small</label>
        <div class="mat-chips mat-chips-sm flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-sm"
                   [placeholder]="'ng-select-sm'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$">
            <ng-container *ngIf="people.length === selectedPeople.length">
              전체
            </ng-container>
            <ng-container *ngIf="people.length !== selectedPeople.length">
              {{items[0].label}}
              <span *ngIf="items.length > 1">외 {{items.length - 1}}</span>
            </ng-container>
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Base</label>
        <div class="mat-chips mat-chips-base flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-base"
                   [placeholder]="'ng-select-base'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$">
            <ng-container *ngIf="people.length === selectedPeople.length">
              전체
            </ng-container>
            <ng-container *ngIf="people.length !== selectedPeople.length">
              {{items[0].label}}
              <span *ngIf="items.length > 1">외 {{items.length - 1}}</span>
            </ng-container>
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group d-flex gap-1">
        <label class="wd-70">Large</label>
        <div class="mat-chips mat-chips-lg flex-1">
          <mat-chip-set>
            <mat-chip *ngFor="let chip of people">
              {{chip.label}}
              <button matChipRemove><mat-icon>close</mat-icon></button>
            </mat-chip>
          </mat-chip-set>
        </div>
        <ng-select class="flex-1 ng-select ng-select-lg"
                   [placeholder]="'ng-select-lg'"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
          <ng-template ng-multi-label-tmp let-items="items" let-item$="item$">
            <ng-container *ngIf="people.length === selectedPeople.length">
              전체
            </ng-container>
            <ng-container *ngIf="people.length !== selectedPeople.length">
              {{items[0].label}}
              <span *ngIf="items.length > 1">외 {{items.length - 1}}</span>
            </ng-container>
          </ng-template>
        </ng-select>
      </div>

      <!-- // 다음과 같이 [ngClass]로 ng-select-xs을 추가하려고 할 경우 dropdown의 커스텀이 불가능함
      <div class="form-group d-flex gap-1" *ngFor="let item of sizeList">
        <ng-select class="flex-1 ng-select dd"
                   [ngClass]="'ng-select-' + item.class"
                   [placeholder]="'ng-select + ' + 'ng-select-' + item.class"
                   bindLabel="label"
                   bindValue="value"
                   groupBy="group"
                   [multiple]="true"
                   [closeOnSelect]="false"
                   [selectableGroup]="true"
                   [selectableGroupAsModel]="false"
                   [appendTo]="'body'"
                   [items]="people"
                   [(ngModel)]="selectedPeople">
          <ng-template ng-header-tmp>
            <button class="btn btn-link"
                    (click)="selectAll()">
              <mat-icon class="md-14">done_all</mat-icon>Select All</button>
            <button class="btn btn-link"
                    (click)="unselectAll()">
              <mat-icon class="md-14">remove_done</mat-icon>Clear All</button>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
          </ng-template>
        </ng-select>
      </div>-->
    </div>


      <!--<div class="form-group">
        <div class="form-group flex">
          <label for="input-xs" class="wd-70">XSmall</label>
          <div class="form-control chips form-control-xs" style="width: 200px;">
            <mat-chip-grid #chipGrid2>
              <mat-chip-row *ngFor="let chip of chipList"
                            [color]="'default'"
                            (removed)="removeChip(chip)">
                {{chip.name}}
                <button matChipRemove><mat-icon>close</mat-icon></button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
          <ng-select class="ng-select-xs"
                     [multiple]="true"
                     [placeholder]="'ng-select-xs'"
                     [items]="people" style="flex: 1;"
                     bindLabel="label"
                     bindValue="value"
                     groupBy="group"
                     [selectableGroup]="true"
                     [selectableGroupAsModel]="false"
                     [closeOnSelect]="false"
                     [(ngModel)]="selectedPeople">
            <ng-template ng-header-tmp>
              <button class="btn btn-link"
                      (click)="selectAll()">Select All</button>
              <button class="btn btn-link"
                      (click)="unselectAll()">Clear All</button>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group flex">
          <label for="input-sm" class="wd-70">Small</label>
          <div class="form-control chips form-control-sm" style="width: 200px;">
            <mat-chip-grid #chipGrid2>
              <mat-chip-row *ngFor="let chip of chipList"
                            [color]="'default'"
                            (removed)="removeChip(chip)">
                {{chip.name}}
                <button matChipRemove><mat-icon>close</mat-icon></button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
          <ng-select class="ng-select-sm"
                     [multiple]="true"
                     [placeholder]="'ng-select-sm'"
                     [items]="people" style="flex: 1;"
                     bindLabel="label"
                     bindValue="value"
                     groupBy="group"
                     [selectableGroup]="true"
                     [selectableGroupAsModel]="false"
                     [closeOnSelect]="false"
                     [(ngModel)]="selectedPeople">
            <ng-template ng-header-tmp>
              <button class="btn btn-link"
                      (click)="selectAll()">Select All</button>
              <button class="btn btn-link"
                      (click)="unselectAll()">Clear All</button>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group flex">
          <label for="input-default" class="wd-70">Default</label>
          <div class="form-control chips" style="width: 200px;">
            <mat-chip-grid #chipGrid2>
              <mat-chip-row *ngFor="let chip of chipList"
                            [color]="'default'"
                            (removed)="removeChip(chip)">
                {{chip.name}}
                <button matChipRemove><mat-icon>close</mat-icon></button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
          <ng-select class="ng-select-default"
                     [multiple]="true"
                     [placeholder]="'ng-select-default'"
                     [items]="people" style="flex: 1;"
                     bindLabel="label"
                     bindValue="value"
                     groupBy="group"
                     [selectableGroup]="true"
                     [selectableGroupAsModel]="false"
                     [closeOnSelect]="false"
                     [(ngModel)]="selectedPeople">
            <ng-template ng-header-tmp>
              <button class="btn btn-link"
                      (click)="selectAll()">Select All</button>
              <button class="btn btn-link"
                      (click)="unselectAll()">Clear All</button>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group flex">
          <label for="input-large" class="wd-70">Large</label>
          <div class="form-control chips form-control-lg" style="width: 200px;">
            <mat-chip-grid #chipGrid2>
              <mat-chip-row *ngFor="let chip of chipList"
                            [color]="'default'"
                            (removed)="removeChip(chip)">
                {{chip.name}}
                <button matChipRemove><mat-icon>close</mat-icon></button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
          <ng-select class="ng-select-lg"
                     [multiple]="true"
                     [placeholder]="'ng-select-lg'"
                     [items]="people" style="flex: 1;"
                     bindLabel="label"
                     bindValue="value"
                     groupBy="group"
                     [selectableGroup]="true"
                     [selectableGroupAsModel]="false"
                     [closeOnSelect]="false"
                     [(ngModel)]="selectedPeople">
            <ng-template ng-header-tmp>
              <button class="btn btn-link"
                      (click)="selectAll()">Select All</button>
              <button class="btn btn-link"
                      (click)="unselectAll()">Clear All</button>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.group | uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>-->
  </div>

  <aside-menu-right [menu]="selectMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
