<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <ng-container *ngFor="let slider of sliders; index as i">
      <h3 #anchor>{{buttonMenu[i].title}}</h3>
      <p>{{buttonMenu[i].desc}}</p>
      <div class="style-guide-example">
        <ng-container *ngIf="singleValue.includes(buttonMenu[i].anchor)">
          <ngx-slider [(value)]="slider.value"
                      [options]="sliderOptions(slider)"></ngx-slider>
        </ng-container>
        <ng-container *ngIf="!singleValue.includes(buttonMenu[i].anchor)">
          <ngx-slider [(value)]="slider.value"
                      [(highValue)]="slider.highValue"
                      [options]="sliderOptions(slider)"></ngx-slider>
        </ng-container>
        <ng-container *ngIf="buttonMenu[i].anchor === 'sliderDate'">
          <h4>Material Slider</h4>
          <p>Angular Material Slider</p>
          <mat-slider class="dtk-slider" [min]="sliders[i].floor"
                      [discrete]="true"
                      [step]="sliders[i].step"
                      [displayWith]="formatLabel"
                      [max]="sliders[i].ceil" style="width:100%;">
            <input [value]="sliders[i].value" matSliderStartThumb>
            <input [value]="sliders[i].highValue" matSliderEndThumb>
          </mat-slider>
        </ng-container>
      </div>
    </ng-container>

    <h3>Slider Component</h3>
    <p>기존에 사용된 컴포넌트 텍스트 입력이 가능하도록 처리 됨</p>
    <div class="style-guide-example">
      <h4>기본값 이하(크기별)</h4>
      <p>기본 슬라이더 인풋 값을 변경할 수 있음 <code>[unit]="'px'"</code></p>
      <div class="dtk-slider-link">
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-xl"
                      [label]="'ngx-slider Label XLarge'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-xl"
                          [label]="'Angular Material Label XLarge'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'less'"
                          [(value)]="values.matLess"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-lg"
                      [label]="'ngx-slider Label Large'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-lg"
                      [label]="'Angular Material Label Large'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.matLess"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item"
                      [label]="'ngx-slider Label Default'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item"
                          [label]="'Angular Material Label Default'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'less'"
                          [(value)]="values.matLess"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-sm"
                      [label]="'ngx-slider Label Small'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm"
                          [label]="'Angular Material Label Small'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'less'"
                          [(value)]="values.matLess"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-xs"
                      [label]="'ngx-slider Label XSmall'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-xs"
                          [label]="'Angular Material Label XSmall'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'less'"
                          [(value)]="values.matLess"></dtk-mat-slider>
        </div>
      </div>

      <h4>Inline(flex)</h4>
      <p>한줄로 옆으로 나열시 <code>class="dtk-slider-flex"</code> class 추가</p>
      <div class="dtk-slider-link">
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                      [label]="'ngx-slider Label'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'less'"
                      [(value)]="values.less"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'Angular Material Label'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'less'"
                          [(value)]="values.matLess"></dtk-mat-slider>
        </div>
      </div>
      <h4>범위</h4>
      <p>기본 슬라이더 인풋 값을 변경할 수 있음</p>
      <div class="dtk-slider-link">
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-sm"
                      [label]="'ngx-slider Label'"
                      [format]="'0 px'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'range'"
                      [(highValue)]="values.range.to"
                      [(value)]="values.range.from"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm"
                          [label]="'ngx-slider Label'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'range'"
                          [(highValue)]="values.matRange.to"
                          [(value)]="values.matRange.from"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                      [label]="'ngx-slider Label'"
                      [format]="'0 px'"
                      [unit]="'px'"
                      [min]="0"
                      [max]="100"
                      [mode]="'range'"
                      [(highValue)]="values.range.to"
                      [(value)]="values.range.from"></dtk-slider>

          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'Material slider Label'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="100"
                          [mode]="'range'"
                          [(highValue)]="values.matRange.to"
                          [(value)]="values.matRange.from"></dtk-mat-slider>
        </div>
      </div>
      <!--<dtk-slider [label]="'위'" [(value)]="margins.top"></dtk-slider>
      <dtk-mat-slider></dtk-mat-slider>-->

    </div>


    <h3>Slider Link</h3>
    <p>대시보드, 차트에 마진 값 통일등 사용</p>
    <div class="style-guide-example">

      <div class="dtk-slider-link">
        <div class="dtk-slider-link-row">
          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'위'"
                          [labelClass]="'wd-50'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="50"
                          [mode]="'less'"
                          (valueChange)="changeLinkValue($event, 'top')"
                          [(value)]="margins.top"></dtk-mat-slider>
          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'아래'"
                          [labelClass]="'wd-50'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="50"
                          [mode]="'less'"
                          (valueChange)="changeLinkValue($event, 'bottom')"
                          [(value)]="margins.bottom"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-row">
          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'왼쪽'"
                          [labelClass]="'wd-50'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="50"
                          [mode]="'less'"
                          (valueChange)="changeLinkValue($event, 'left')"
                          [(value)]="margins.left"></dtk-mat-slider>
          <dtk-mat-slider class="dtk-slider-link-item dtk-slider-sm dtk-slider-flex"
                          [label]="'오른쪽'"
                          [labelClass]="'wd-50'"
                          [unit]="'px'"
                          [min]="0"
                          [max]="50"
                          [mode]="'less'"
                          (valueChange)="changeLinkValue($event, 'right')"
                          [(value)]="margins.right"></dtk-mat-slider>
        </div>
        <div class="dtk-slider-link-btn">
          <button class="btn btn-outline-secondary btn-sm"
                  [class.active]="link"
                  [matTooltip]="'연결'"
                  (click)="changeLink()">
            <i class="fa" [ngClass]="link ? 'fa-link' : 'fa-unlink'"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <aside-menu-right [menu]="buttonMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
