<div class="d-flex">
  <div class="component-wrap" #contentWrap>
    <ng-container *ngFor="let slider of sliders; index as i">
      <h3 #anchor>{{buttonMenu[i].title}}</h3>
      <p>{{buttonMenu[i].desc}}</p>
      <div class="style-guide-example">
        <ng-container *ngIf="singleValue.includes(buttonMenu[i].anchor)">
          <ngx-slider [(value)]="slider.value"
                      [options]="sliderOptions(slider)"></ngx-slider>
        </ng-container>
        <ng-container *ngIf="!singleValue.includes(buttonMenu[i].anchor)">
          <ngx-slider [(value)]="slider.value"
                      [(highValue)]="slider.highValue"
                      [options]="sliderOptions(slider)"></ngx-slider>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <aside-menu-right [menu]="buttonMenu"
                    [anchor]="anchors"></aside-menu-right>
</div>
